Repository ruffle-rs/ruffle, pull requests merged in 2020-09, with the labels that each got.

#1123 Workaround for chrome not being found on windows tests
  web/packages/selfhosted/wdio.conf.js
Labels: build

#1119 Fix String.indexOf(undefined)
  core/src/avm1/globals/string.rs
  core/tests/swfs/avm1/string_methods/output.txt
  core/tests/swfs/avm1/string_methods/test.fla
  core/tests/swfs/avm1/string_methods/test.swf
Labels: actionscript, avm1

#1113 avm1: typeof button/text should be object (fix #1110)
  core/src/avm1/object/stage_object.rs
  core/tests/swfs/avm1/typeof/output.txt
  core/tests/swfs/avm1/typeof/test.fla
  core/tests/swfs/avm1/typeof/test.swf
Labels: actionscript, avm1

#1125 Add code of conduct to repository
  CODE_OF_CONDUCT.md
Labels: meta

#1131 Release nightlies through github releases
  .github/workflows/release_nightlies.yml
Labels: build, meta

#1148 Fix nightly generation not triggering if an older PR lands
  .github/workflows/release_nightlies.yml
Labels: build, meta

#1166 Add a panic screen for web
  web/packages/core/src/ruffle-object.js
  web/packages/core/src/ruffle-player.js
  web/packages/core/src/shadow-template.js
  web/src/lib.rs
Labels: web

#1112 avm1: _target of root should be /
  core/src/display_object.rs
  core/tests/regression_tests.rs
  core/tests/swfs/avm1/stage_object_properties/output.txt
  core/tests/swfs/avm1/stage_object_properties/test.fla
  core/tests/swfs/avm1/stage_object_properties/test.swf
Labels: actionscript, avm1

#1208 Support \r newlines in texts
  core/src/html/layout.rs
  core/src/html/text_format.rs
  core/tests/swfs/avm1/edittext_bullet/output.txt
  core/tests/swfs/avm1/edittext_bullet/test.fla
  core/tests/swfs/avm1/edittext_bullet/test.swf
  core/tests/swfs/avm1/edittext_newlines/output.txt
  core/tests/swfs/avm1/edittext_newlines/test.fla
  core/tests/swfs/avm1/edittext_newlines/test.swf
Labels: text
