Repository ruffle-rs/ruffle, pull requests merged in 2024-08, with the labels that each got.

#17324 text: Fix calculating line bounds
  core/src/html/layout.rs
Labels: text

#15627 avm1: made the context menu work for all avm1 objects
  core/src/avm1/activation.rs
  core/src/avm1/globals/context_menu.rs
  core/src/avm2/globals/flash/ui/context_menu.rs
  core/src/context_menu.rs
  core/src/player.rs
Labels: avm1, waiting-on-review

#17462 ci: Run nextest with profile "ci", add a test-specific override to allow retries for `avm2/pixelbender_shaderdata`
  .config/nextest.toml
  .github/workflows/test_rust.yml
Labels: tests, github_actions

#17403 desktop: Set main window as parent of file pickers
  Cargo.lock
  deny.toml
  desktop/Cargo.toml
  desktop/src/app.rs
  desktop/src/gui.rs
  desktop/src/gui/controller.rs
  desktop/src/gui/dialogs.rs
  desktop/src/gui/dialogs/bookmarks_dialog.rs
  desktop/src/gui/dialogs/open_dialog.rs
  desktop/src/gui/widgets.rs
  desktop/src/util.rs
Labels: desktop, waiting-on-review

#17563 desktop: Use F11 as fullscreen shortcut
  desktop/src/app.rs
  desktop/src/gui/menu_bar.rs
Labels: waiting-on-review

#17591 ci: Allow more retries, for the `avm2/graphics_round_rects` test too
  .config/nextest.toml
Labels: tests, waiting-on-review

#17592 desktop: Add "Exit Full Screen" option to context menu
  core/src/player.rs
  desktop/assets/texts/en-US/context_menu.ftl
  desktop/src/app.rs
  desktop/src/custom_event.rs
  desktop/src/gui.rs
  desktop/src/gui/context_menu.rs
Labels: desktop

#17502 avm2: support CSS comments and fix whitespace issues
  core/src/html/stylesheet.rs
  tests/tests/swfs/avm2/stylesheet/Test.as
  tests/tests/swfs/avm2/stylesheet/output.txt
  tests/tests/swfs/avm2/stylesheet/test.swf
Labels: waiting-on-review

#17642 desktop: Allow starting bookmarks from the bookmarks dialog
  desktop/src/gui/dialogs.rs
  desktop/src/gui/dialogs/bookmarks_dialog.rs
Labels: desktop

#17682 chore: Update to `proc-macro-crate` `v3.2.0`, deduplicate `toml_edit` and `winnow`
  Cargo.lock
  desktop/Cargo.toml
  frontend-utils/Cargo.toml
Labels: dependencies, rust

#17664 chore: Bump some locked crate versions, deduplicate `nix`, move away from yanked `bytes` version
  Cargo.lock
Labels: dependencies, rust

#17686 core: use char slicing instead of byte slicing
  core/src/display_object/edit_text.rs
  tests/tests/swfs/avm2/issue_17675_edittext_paste_maxchars/Test.as
  tests/tests/swfs/avm2/issue_17675_edittext_paste_maxchars/input.json
  tests/tests/swfs/avm2/issue_17675_edittext_paste_maxchars/output.txt
  tests/tests/swfs/avm2/issue_17675_edittext_paste_maxchars/test.swf
  tests/tests/swfs/avm2/issue_17675_edittext_paste_maxchars/test.toml
Labels: text

#17707 avm2: Throw special XML parsing error for unmatched end tag at the root level
  core/src/avm2/e4x.rs
  tests/tests/swfs/from_avmplus/e4x/XML/kXMLMarkupMustBeWellFormedErr/test.toml
Labels: avm2, xml

#17711 avm2: Correctly set XML attribute with namespace
  core/src/avm2/e4x.rs
  core/src/avm2/object/xml_list_object.rs
  core/src/avm2/object/xml_object.rs
  tests/tests/swfs/from_avmplus/e4x/Expressions/e11_1_2/test.toml
Labels: avm2, xml

#17695 avm2: Added missing `[API()]` to variables from the list
  core/src/avm2/globals/flash/display/DisplayObject.as
  core/src/avm2/globals/flash/display/InteractiveObject.as
  core/src/avm2/globals/flash/display/Sprite.as
  core/src/avm2/globals/flash/display/Stage.as
  core/src/avm2/globals/flash/events/Event.as
  core/src/avm2/globals/flash/events/HTTPStatusEvent.as
  core/src/avm2/globals/flash/events/MouseEvent.as
  core/src/avm2/globals/flash/events/PressAndTapGestureEvent.as
  core/src/avm2/globals/flash/events/VideoTextureEvent.as
  core/src/avm2/globals/flash/net/Socket.as
  core/src/avm2/globals/flash/system/JPEGLoaderContext.as
  core/src/avm2/globals/flash/system/LoaderContext.as
  core/src/avm2/globals/flash/text/TextField.as
  core/src/avm2/globals/flash/text/engine/FontMetrics.as
  core/src/avm2/globals/flash/text/engine/LineJustification.as
Labels: avm2
