Repository ruffle-rs/ruffle, pull requests merged in 2024-05, with the labels that each got.

#16284 avm1: Implement __resolve
  core/src/avm1/object.rs
  tests/tests/swfs/avm1/object_resolve/output.txt
  tests/tests/swfs/avm1/object_resolve/test.fla
  tests/tests/swfs/avm1/object_resolve/test.swf
  tests/tests/swfs/avm1/object_resolve/test.toml
Labels: avm1, waiting-on-review

#16342 github: Add a workaround for nextest failing on Windows
  .github/workflows/test_rust.yml
Labels: github_actions

#16335 `github`: Make Dependabot also ignore "profiling", add a group to bump `Cargo.lock`
  .github/dependabot.yml
Labels: meta, dependencies, rust, github_actions

#16330 `render/wgpu`: Drop `naga_oil` in favor of manual string manipulation
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  render/naga-pixelbender/Cargo.toml
  render/naga-pixelbender/src/lib.rs
  render/src/shader_filter_common.wgsl
  render/wgpu/Cargo.toml
  render/wgpu/shaders/bitmap.wgsl
  render/wgpu/shaders/blend/alpha.wgsl
  render/wgpu/shaders/blend/darken.wgsl
  render/wgpu/shaders/blend/difference.wgsl
  render/wgpu/shaders/blend/erase.wgsl
  render/wgpu/shaders/blend/hardlight.wgsl
  render/wgpu/shaders/blend/invert.wgsl
  render/wgpu/shaders/blend/lighten.wgsl
  render/wgpu/shaders/blend/multiply.wgsl
  render/wgpu/shaders/blend/overlay.wgsl
  render/wgpu/shaders/color.wgsl
  render/wgpu/shaders/common.wgsl
  render/wgpu/shaders/copy.wgsl
  render/wgpu/shaders/copy_srgb.wgsl
  render/wgpu/shaders/filter/blur.wgsl
  render/wgpu/shaders/filter/color_matrix.wgsl
  render/wgpu/shaders/gradient.wgsl
  render/wgpu/src/shaders.rs
Labels: rendering, dependencies, rust, render-wgpu, code-cleanup, waiting-on-review

#16210 avm1: Make target have correct properties when firing events after `loadClip`
  core/src/loader.rs
  tests/tests/swfs/avm1/mcl_loadclip_onload_target/child.as
  tests/tests/swfs/avm1/mcl_loadclip_onload_target/output.txt
  tests/tests/swfs/avm1/mcl_loadclip_onload_target/test.swf
  tests/tests/swfs/avm1/mcl_loadclip_onload_target/test.toml
  tests/tests/swfs/avm1/mcl_loadclip_properties/child.as
  tests/tests/swfs/avm1/mcl_loadclip_properties/child.swf
  tests/tests/swfs/avm1/mcl_loadclip_properties/output.txt
  tests/tests/swfs/avm1/mcl_loadclip_properties/test.as
  tests/tests/swfs/avm1/mcl_loadclip_properties/test.swf
  tests/tests/swfs/avm1/mcl_loadclip_properties/test.toml
  tests/tests/swfs/avm1/mcl_loadclip_replace_root/child.as
  tests/tests/swfs/avm1/mcl_loadclip_replace_root/child.swf
  tests/tests/swfs/avm1/mcl_loadclip_replace_root/output.txt
  tests/tests/swfs/avm1/mcl_loadclip_replace_root/test.as
  tests/tests/swfs/avm1/mcl_loadclip_replace_root/test.swf
  tests/tests/swfs/avm1/mcl_loadclip_replace_root/test.toml
Labels: avm1, waiting-on-review

#16433 core: Store MovieClip avm2_class in MovieClipStatic
  core/src/display_object/movie_clip.rs
Labels: waiting-on-review

#16376 avm2: Refactor Executable->BoundMethod, introduce freestanding exec()
  core/src/avm2.rs
  core/src/avm2/call_stack.rs
  core/src/avm2/function.rs
  core/src/avm2/object.rs
  core/src/avm2/object/class_object.rs
  core/src/avm2/object/function_object.rs
  core/src/avm2/specification.rs
Labels: waiting-on-review

#16536 avm2: Implement XMLList.normalize
  core/src/avm2/globals/XMLList.as
  core/src/avm2/globals/xml_list.rs
  core/src/avm2/object/xml_list_object.rs
  tests/tests/swfs/avm2/xml_normalize/Test.as
  tests/tests/swfs/avm2/xml_normalize/output.txt
  tests/tests/swfs/avm2/xml_normalize/test.swf
  tests/tests/swfs/avm2/xml_normalize/test.toml
Labels: avm2, xml
