Repository ruffle-rs/ruffle, pull requests merged in 2024-03, with the labels that each got.

#14916 avm2: Implement flash.media.ID3Info
  Cargo.lock
  core/Cargo.toml
  core/src/avm2/globals.rs
  core/src/avm2/globals/flash/media/ID3Info.as
  core/src/avm2/globals/flash/media/Sound.as
  core/src/avm2/globals/flash/media/sound.rs
  core/src/avm2/globals/globals.as
  core/src/avm2/object/sound_object.rs
  core/src/loader.rs
  tests/tests/swfs/avm2/id3_info/output.txt
  tests/tests/swfs/avm2/id3_info/test.as
  tests/tests/swfs/avm2/id3_info/test.swf
  tests/tests/swfs/avm2/id3_info/test.toml
  tests/tests/swfs/avm2/id3_info/test_audio.mp3
Labels: avm2

#15409 avm2: Stub GameInput.getDeviceAt and GameInputControl
  core/src/avm2/globals/flash/ui/GameInput.as
  core/src/avm2/globals/flash/ui/GameInputControl.as
  core/src/avm2/globals/globals.as
  tests/tests/swfs/avm2/game_input/Test.as
  tests/tests/swfs/avm2/game_input/output.txt
  tests/tests/swfs/avm2/game_input/test.fla
  tests/tests/swfs/avm2/game_input/test.swf
  tests/tests/swfs/avm2/game_input/test.toml
Labels: avm2, waiting-on-author

#15747 core: Make sure that streams progress even with many small-dt ticks
  core/src/streams.rs
Labels: video

#15594 avm2: URLStream support for connected and HTTP_STATUS event
  core/src/avm2/globals/flash/net/URLStream.as
Labels: avm2
