Repository ruffle-rs/ruffle, pull requests merged in 2024-01, with the labels that each got.

#14598 avm2: Use correct null parameter error in `registerClassAlias`
  core/src/avm2/globals/flash/net.as
Labels: waiting-on-review

#14503 render: Implement PixelBender Operation::Select (renamed from Loop)
  render/naga-pixelbender/src/lib.rs
  render/src/pixel_bender.rs
  tests/tests/swfs/avm2/pixelbender_dithering/output.expected.png
  tests/tests/swfs/avm2/pixelbender_dithering/output.txt
  tests/tests/swfs/avm2/pixelbender_dithering/test.swf
  tests/tests/swfs/avm2/pixelbender_dithering/test.toml
Labels: waiting-on-review

#14697 core: Use sans instead of serif when missing a font
  core/src/html/layout.rs
Labels: text

#14690 core: Fix caret and selection rendering
  core/src/display_object/edit_text.rs
Labels: rendering, text

#14643 Apply 'xml["@myattr"]' logic when setting/deleting properties
  core/src/avm2/object/xml_object.rs
  tests/tests/swfs/avm2/xml_attribute_name/Test.as
  tests/tests/swfs/avm2/xml_attribute_name/output.txt
  tests/tests/swfs/avm2/xml_attribute_name/test.fla
  tests/tests/swfs/avm2/xml_attribute_name/test.swf
Labels: xml, waiting-on-author

#14427 avm2: Fix multiply with overflow in `string_to_f64`
  Cargo.lock
  core/Cargo.toml
  core/src/avm2/value.rs
Labels: avm2, waiting-on-review

#14672 debug_ui: Add 'Show Domains' menu to view domains and classes
  core/src/avm2.rs
  core/src/avm2/domain.rs
  core/src/debug_ui.rs
  core/src/debug_ui/domain.rs
  core/src/debug_ui/handle.rs
  desktop/assets/texts/en-US/main_menu.ftl
  desktop/src/gui.rs
Labels: desktop

#14841 web: Add allowFullScreen embed/object option (part of #4258)
  core/src/display_object/stage.rs
  core/src/player.rs
  web/packages/core/src/config.ts
  web/packages/core/src/load-options.ts
  web/packages/core/src/ruffle-player.ts
  web/src/lib.rs
Labels: web, polyfill

#14964 avm2: Only use embedded CFF fonts for TLF
  core/src/display_object/edit_text.rs
  core/src/font.rs
  core/src/html/layout.rs
  core/src/library.rs
Labels: avm2, tlf

#14967 desktop: Allow specifying WGPU instance flags from environment
  desktop/src/gui/controller.rs
Labels: desktop, render-wgpu

#14965 desktop: Fix context menu
  desktop/src/app.rs
  desktop/src/gui.rs
  desktop/src/gui/context_menu.rs
Labels: desktop
