Repository ruffle-rs/ruffle, pull requests merged in 2024-07, with the labels that each got.

#16420 Implement ImportAssets/ImportAssets2
  core/src/display_object/movie_clip.rs
  core/src/library.rs
  core/src/loader.rs
  swf/src/read.rs
Labels: waiting-on-review

#17035 core: Use existing methods for rounding twips
  core/src/avm1/globals/text_field.rs
  core/src/display_object/edit_text.rs
  core/src/font.rs
Labels: waiting-on-review

#17045 desktop: Fix open advanced shortcut
  desktop/src/gui/menu_bar.rs
Labels: desktop

#17066 core: Fix double caret rendering in justified text
  core/src/display_object/edit_text.rs
Labels: text, waiting-on-review

#17030 swf: Remove 'libflate' feature
  Cargo.lock
  LICENSE.md
  swf/Cargo.toml
  swf/src/lib.rs
  swf/src/read.rs
  swf/src/write.rs
  web/LICENSE.md
Labels: swf, dependencies, waiting-on-review

#17078 extension: Use source-map devtool for debug build (close #15064)
  web/packages/extension/webpack.config.js
Labels: web, extension, waiting-on-review

#17053 ci: Get `wasm-opt` directly from GitHub using `sigoden/install-binary@v1` ...
  .github/workflows/release_nightly.yml
  .github/workflows/test_extension_dockerfile.yml
  .github/workflows/test_web.yml
  web/docker/Dockerfile
Labels: web, extension, waiting-on-review, github_actions

#17111 desktop: Ignore input when the context menu is open
  desktop/src/app.rs
Labels: desktop, input

#17192 frontend-utils: Use a loopback address for tests on Linux
  frontend-utils/src/backends/navigator.rs
Labels: tests, linux

#15966 desktop: Do not resize the window while it is maximized
  desktop/src/app.rs
Labels: desktop, waiting-on-review
