Repository ruffle-rs/ruffle, pull requests merged in 2024-06, with the labels that each got.

#16610 avm2: Minor optimizer improvements
  core/src/avm2/optimize.rs
Labels: avm2, performance

#16594 avm2: In Array.sortOn, behave better in presence of nonsense args
  core/src/avm2/globals/array.rs
  tests/tests/swfs/avm2/array_sorton/Test.as
  tests/tests/swfs/avm2/array_sorton/output.txt
  tests/tests/swfs/avm2/array_sorton/test.fla
  tests/tests/swfs/avm2/array_sorton/test.swf
Labels: avm2, waiting-on-review

#16699 wgpu: Prevent random crashes on desktop by handling SurfaceErrors properly
  desktop/src/gui/controller.rs
Labels: desktop, render-wgpu

#16750 extension: Fix 4399 CORS and Flash detection issue (close #13943)
  web/packages/extension/4399_rules.json
  web/packages/extension/manifest_other.json5
  web/packages/extension/src/4399-content-script.ts
  web/packages/extension/webpack.config.js
Labels: extension

#16805 wgpu: Do not use 'packed' as variable name in WGSL shaders
  render/wgpu/shaders/filter/displacement_map.wgsl
Labels: render-wgpu

#16803 avm2: Do not fire roll over events on focus change (yet)
  core/src/focus_tracker.rs
Labels: avm2, waiting-on-review
