Repository ruffle-rs/ruffle, pull requests merged in 2024-09, with the labels that each got.

#17714 core: Add support for wider range of key codes
  core/src/avm1/globals/key.rs
  core/src/avm2/object/event_object.rs
  core/src/backend/ui.rs
  core/src/events.rs
  core/src/focus_tracker.rs
  core/src/player.rs
  desktop/src/cli.rs
  desktop/src/util.rs
  tests/framework/src/runner.rs
  tests/input-format/src/format.rs
  web/src/input.rs
Labels: input

#17710 avm2: Throw special XML parsing error for empty namespace prefixes
  core/src/avm2/e4x.rs
  tests/tests/swfs/from_avmplus/as3/RuntimeErrors/Error1084XmlQNameProductionMismatch/test.toml
  tests/tests/swfs/from_avmplus/e4x/Expressions/kXMLBadQNameErr/test.toml
Labels: avm2, xml, waiting-on-review

#17670 core: Truncate socket host by null bytes
  core/src/socket.rs
Labels: network

#17781 ci: Fix missing checksum in AUR package
  .github/workflows/release_nightly.yml
Labels: github_actions

#17767 desktop: Add network access dialog
  desktop/assets/texts/en-US/network_access_dialog.ftl
  desktop/src/backends/navigator.rs
  desktop/src/gui/dialogs.rs
  desktop/src/gui/dialogs/network_access_dialog.rs
Labels: desktop, waiting-on-review

#17769 ci: Package Ruffle logo, desktop file, and metainfo for Linux
  .github/workflows/release_nightly.yml
Labels: linux, github_actions

#17787 avm2: Skip attempting to serialize methods
  core/src/avm2/amf.rs
  tests/tests/swfs/avm2/bytearray_method_serialization/Test.as
  tests/tests/swfs/avm2/bytearray_method_serialization/output.txt
  tests/tests/swfs/avm2/bytearray_method_serialization/test.swf
  tests/tests/swfs/avm2/bytearray_method_serialization/test.toml
Labels: waiting-on-review, amf

#17793 deps: Bump RFD to the newest revision
  Cargo.lock
  Cargo.toml
Labels: dependencies

#17299 avm2: stub desktop AIR APIs
  core/src/avm2/globals/flash/desktop/Icon.as
  core/src/avm2/globals/flash/desktop/InteractiveIcon.as
  core/src/avm2/globals/flash/desktop/NativeApplication.as
  core/src/avm2/globals/flash/display/NativeMenu.as
  core/src/avm2/globals/flash/display/NativeMenuItem.as
  core/src/avm2/globals/flash/display/NativeWindow.as
  core/src/avm2/globals/flash/display/NativeWindowDisplayState.as
  core/src/avm2/globals/flash/display/NativeWindowInitOptions.as
  core/src/avm2/globals/flash/display/NativeWindowSystemChrome.as
  core/src/avm2/globals/flash/display/NativeWindowType.as
  core/src/avm2/globals/flash/display/Stage.as
  core/src/avm2/globals/flash/display/stage.rs
  core/src/avm2/globals/flash/events/Event.as
  core/src/avm2/globals/flash/events/InvokeEvent.as
  core/src/avm2/globals/flash/events/NativeWindowBoundsEvent.as
  core/src/avm2/globals/flash/events/NativeWindowDisplayStateEvent.as
  core/src/avm2/globals/globals.as
  desktop/src/app.rs
Labels: waiting-on-review, air

#17353 core: Allow clicking on a non-interactive AVM2 child of a Loader
  core/src/display_object/loader_display.rs
  tests/tests/swfs/avm2/loader_noninteractive_try_click_root/Test.as
  tests/tests/swfs/avm2/loader_noninteractive_try_click_root/image.png
  tests/tests/swfs/avm2/loader_noninteractive_try_click_root/input.json
  tests/tests/swfs/avm2/loader_noninteractive_try_click_root/loadable.swf
  tests/tests/swfs/avm2/loader_noninteractive_try_click_root/output.txt
  tests/tests/swfs/avm2/loader_noninteractive_try_click_root/test.fla
  tests/tests/swfs/avm2/loader_noninteractive_try_click_root/test.swf
  tests/tests/swfs/avm2/loader_noninteractive_try_click_root/test.toml
Labels: waiting-on-review

#17780 chore: Bump Binaryen to version 119
  .github/workflows/release_nightly.yml
  .github/workflows/test_extension_dockerfile.yml
  .github/workflows/test_web.yml
  web/docker/Dockerfile
Labels: waiting-on-review

#17401 core,desktop: Update to `winit` `v0.30.5` and latest `egui` from git
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/debug_ui/display_object.rs
  core/src/debug_ui/domain.rs
  core/src/debug_ui/movie.rs
  deny.toml
  desktop/Cargo.toml
  desktop/src/app.rs
  desktop/src/gui/controller.rs
  desktop/src/gui/dialogs/open_dialog.rs
  desktop/src/gui/dialogs/preferences_dialog.rs
  desktop/src/util.rs
Labels: desktop, dependencies, waiting-on-review

#17860 chore: Bump `wayland-*` dependencies, drop duplicate `quick-xml` version `0.34.0`
  Cargo.lock
Labels: desktop, dependencies, rust

#17804 desktop: Install Ruffle metadata in PKGBUILD
  desktop/packages/linux/aur/ruffle-nightly-bin/PKGBUILD
Labels: desktop, linux

#17668 Ability to load ttf/otf/ttc/otc as default fonts for ruffle extension
  core/src/lib.rs
  core/src/library.rs
  web/src/builder.rs
Labels: web, extension, waiting-on-review

#17909 desktop: Update Freedesktop categories
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
Labels: desktop, linux

#17932 desktop: Remove Utility Freedesktop category
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
Labels: A-desktop, linux, waiting-on-review, T-chore

#17905 desktop: Do not store logs in config directory
  desktop/src/main.rs
Labels: A-desktop, waiting-on-review, T-refactor

#17950 chore: Improve iOS support
  core/src/avm2/globals/flash/system/capabilities.rs
  render/wgpu/src/backend.rs
Labels: A-desktop, T-refactor

#17946 core: Optimize BMD.fillRect()
  core/src/bitmap/bitmap_data.rs
  core/src/bitmap/operations.rs
Labels: A-core, T-perf

#17885 chore: Update translations
  core/assets/texts/ar-SA/context_menu.ftl
  core/assets/texts/it-IT/context_menu.ftl
  desktop/assets/texts/ar-SA/about_dialog.ftl
  desktop/assets/texts/ar-SA/bookmarks_dialog.ftl
  desktop/assets/texts/ar-SA/common.ftl
  desktop/assets/texts/ar-SA/context_menu.ftl
  desktop/assets/texts/ar-SA/dialogs.ftl
  desktop/assets/texts/ar-SA/file_picker.ftl
  desktop/assets/texts/ar-SA/main_menu.ftl
  desktop/assets/texts/ar-SA/network_access_dialog.ftl
  desktop/assets/texts/ar-SA/open_dialog.ftl
  desktop/assets/texts/ar-SA/open_url_dialog.ftl
  desktop/assets/texts/ar-SA/preferences_dialog.ftl
  desktop/assets/texts/ar-SA/settings.ftl
  desktop/assets/texts/fr-FR/file_picker.ftl
  desktop/assets/texts/it-IT/bookmarks_dialog.ftl
  desktop/assets/texts/it-IT/common.ftl
  desktop/assets/texts/it-IT/context_menu.ftl
  desktop/assets/texts/ko-KR/file_picker.ftl
  desktop/assets/texts/ko-KR/network_access_dialog.ftl
  desktop/assets/texts/nl-NL/context_menu.ftl
  desktop/assets/texts/nl-NL/file_picker.ftl
  desktop/assets/texts/nl-NL/main_menu.ftl
  desktop/assets/texts/nl-NL/message_dialogs.ftl
  desktop/assets/texts/nl-NL/network_access_dialog.ftl
  desktop/assets/texts/nl-NL/open_url_dialog.ftl
  desktop/assets/texts/nl-NL/preferences_dialog.ftl
  desktop/assets/texts/nl-NL/settings.ftl
  desktop/assets/texts/ru-RU/file_picker.ftl
  desktop/assets/texts/zh-CN/file_picker.ftl
  web/packages/core/texts/ar-SA/context_menu.ftl
  web/packages/core/texts/ar-SA/messages.ftl
  web/packages/core/texts/ar-SA/save-manager.ftl
  web/packages/core/texts/ar-SA/volume-controls.ftl
  web/packages/core/texts/nl-NL/messages.ftl
  web/packages/core/texts/nl-NL/volume-controls.ftl
  web/packages/extension/assets/_locales/ar/messages.json
Labels: A-i18n, T-chore

#17959 core: Remove unused MovieClipStatic.processed_bytecode_tags_pos
  core/src/display_object/movie_clip.rs
Labels: A-core, T-refactor

#17951 desktop: Move `cpal` audio backend to `frontend-utils`
  Cargo.lock
  Cargo.toml
  desktop/Cargo.toml
  desktop/src/backends.rs
  desktop/src/player.rs
  frontend-utils/Cargo.toml
  frontend-utils/src/backends.rs
  frontend-utils/src/backends/audio.rs
Labels: A-desktop, T-refactor

#17967 chore: Update translations
  desktop/assets/texts/ru-RU/file_picker.ftl
  desktop/assets/texts/ru-RU/message_dialogs.ftl
  desktop/assets/texts/ru-RU/network_access_dialog.ftl
  desktop/assets/texts/ru-RU/open_url_dialog.ftl
  desktop/assets/texts/ru-RU/settings.ftl
  web/packages/extension/assets/_locales/ru/messages.json
Labels: A-i18n, T-chore

#17971 chore: Fix compilation warnings on non-Linux
  desktop/src/gui/theme.rs
Labels: A-other, T-chore

#17916 avm2: Fix String.replace crash when regex is used in replacement
  core/src/avm2/globals/string.rs
  core/src/avm2/regexp.rs
  tests/tests/swfs/avm2/string_replace/Test.as
  tests/tests/swfs/avm2/string_replace/output.txt
  tests/tests/swfs/avm2/string_replace/test.swf
Labels: A-avm2, T-fix

#17954 avm2: Call set_expose_content for swf loaded through Loader
  core/src/avm2/globals/flash/display/loader_info.rs
  core/src/loader.rs
  tests/tests/swfs/avm2/loader_loadbytes_events/Loadable.as
  tests/tests/swfs/avm2/loader_loadbytes_events/Test.as
  tests/tests/swfs/avm2/loader_loadbytes_events/loadable.fla
  tests/tests/swfs/avm2/loader_loadbytes_events/loadable.swf
  tests/tests/swfs/avm2/loader_loadbytes_events/output.txt
  tests/tests/swfs/avm2/loader_loadbytes_events/test.swf
Labels: A-avm2, T-fix

#17987 desktop: Bump `egui` to latest `master`, set theme instead of visuals
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  desktop/Cargo.toml
  desktop/src/gui/dialogs/open_dialog.rs
  desktop/src/gui/theme.rs
Labels: A-desktop, T-fix

#17988 desktop: Use trash can emoji on remove buttons
  desktop/src/gui/dialogs/open_dialog.rs
Labels: A-desktop, T-refactor

#18003 desktop: Bump `egui` to latest `master` (again)
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  desktop/Cargo.toml
Labels: A-desktop, T-chore

#17873 tests: Test exposed RufflePlayer API
  web/packages/selfhosted/test/js_api/exposed.ts
Labels: A-web, A-tests, waiting-on-review, T-chore

#18009 avm2: Stub flash.sensors.Accelerometer completely
  core/src/avm2/globals/flash/sensors/Accelerometer.as
Labels: A-avm2, T-compat

#17976 web: Show the original cause of the error when Ruffle fails to load
  web/packages/core/src/internal/player/inner.tsx
Labels: A-web, T-fix

#17978 web: Add an extra check for if the WASM download failed
  web/packages/core/src/internal/ui/panic.tsx
Labels: A-web, T-fix

#18024 chore: Switch to `rfd` release `v0.15.0` from git
  Cargo.lock
  Cargo.toml
  deny.toml
Labels: A-deps, T-chore

#18055 chore: Update translations
  desktop/assets/texts/pt-BR/file_picker.ftl
  desktop/assets/texts/pt-BR/message_dialogs.ftl
  desktop/assets/texts/pt-BR/network_access_dialog.ftl
  desktop/assets/texts/pt-BR/settings.ftl
Labels: A-i18n, T-chore

#18037 desktop: Add Alt+Enter back as a hidden shortcut on Windows
  desktop/src/gui/menu_bar.rs
Labels: A-desktop, windows, T-compat

#17341 ci: Run Web tests on Ubuntu 24.04
  .github/workflows/test_web.yml
Labels: A-tests, T-chore

#18066 desktop: Update dialog texts to ask for intent
  desktop/assets/texts/en-US/network_access_dialog.ftl
  desktop/assets/texts/en-US/open_url_dialog.ftl
Labels: A-desktop, T-refactor

#18061 chore: Bump some indirect dependencies in `Cargo.lock`
  Cargo.lock
Labels: A-deps, rust, T-chore

#17965 core: Make applyFilter with zero-sized rects noops
  core/src/bitmap/operations.rs
Labels: A-rendering, T-fix

#18077 chore: Update translations
  desktop/assets/texts/ar-SA/network_access_dialog.ftl
  desktop/assets/texts/ar-SA/open_url_dialog.ftl
  desktop/assets/texts/cs-CZ/network_access_dialog.ftl
  desktop/assets/texts/cs-CZ/open_url_dialog.ftl
  desktop/assets/texts/es-ES/network_access_dialog.ftl
  desktop/assets/texts/es-ES/open_url_dialog.ftl
  desktop/assets/texts/fr-FR/network_access_dialog.ftl
  desktop/assets/texts/fr-FR/open_url_dialog.ftl
  desktop/assets/texts/hu-HU/open_url_dialog.ftl
  desktop/assets/texts/ko-KR/network_access_dialog.ftl
  desktop/assets/texts/ko-KR/open_url_dialog.ftl
  desktop/assets/texts/nl-NL/network_access_dialog.ftl
  desktop/assets/texts/nl-NL/open_url_dialog.ftl
  desktop/assets/texts/pl-PL/network_access_dialog.ftl
  desktop/assets/texts/pl-PL/open_url_dialog.ftl
  desktop/assets/texts/pt-BR/network_access_dialog.ftl
  desktop/assets/texts/pt-BR/open_url_dialog.ftl
  desktop/assets/texts/pt-BR/settings.ftl
  desktop/assets/texts/pt-PT/network_access_dialog.ftl
  desktop/assets/texts/pt-PT/open_url_dialog.ftl
  desktop/assets/texts/ru-RU/network_access_dialog.ftl
  desktop/assets/texts/ru-RU/open_url_dialog.ftl
  desktop/assets/texts/sk-SK/network_access_dialog.ftl
  desktop/assets/texts/sk-SK/open_url_dialog.ftl
  desktop/assets/texts/uk-UA/network_access_dialog.ftl
  desktop/assets/texts/uk-UA/open_url_dialog.ftl
  desktop/assets/texts/zh-CN/network_access_dialog.ftl
  desktop/assets/texts/zh-CN/open_url_dialog.ftl
  web/packages/extension/assets/_locales/nl/messages.json
  web/packages/extension/assets/_locales/pt/messages.json
Labels: A-i18n, T-chore

#18090 ci: Switch all remaining GHA workflows from ubuntu-22.04 to ubuntu-24.04
  .github/workflows/release_amo.yml
  .github/workflows/release_nightly.yml
  .github/workflows/test_extension_dockerfile.yml
Labels: A-build, T-chore

#18080 desktop: Update app icon on Linux
  desktop/packages/linux/rs.ruffle.Ruffle.svg
Labels: A-desktop, linux, T-refactor

#18097 chore: Update translations
  desktop/assets/texts/ar-SA/network_access_dialog.ftl
  desktop/assets/texts/ar-SA/open_url_dialog.ftl
  desktop/assets/texts/hu-HU/file_picker.ftl
  desktop/assets/texts/hu-HU/network_access_dialog.ftl
  desktop/assets/texts/hu-HU/open_url_dialog.ftl
Labels: A-i18n, T-chore

#18082 chore: Switch `egui` back to release `0.29.0` from git
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  deny.toml
  desktop/Cargo.toml
  desktop/src/gui/controller.rs
  desktop/src/gui/movie.rs
Labels: A-deps, rust, T-chore

#18089 chore: Bump the `rollup` npm package to `4.22.5`
  web/package-lock.json
Labels: A-deps, T-chore

#18120 chore: Update translations
  desktop/assets/texts/ar-SA/filesystem_access_dialog.ftl
  desktop/assets/texts/ca-ES/filesystem_access_dialog.ftl
  desktop/assets/texts/cs-CZ/filesystem_access_dialog.ftl
  desktop/assets/texts/de-DE/filesystem_access_dialog.ftl
  desktop/assets/texts/es-ES/filesystem_access_dialog.ftl
  desktop/assets/texts/fr-FR/filesystem_access_dialog.ftl
  desktop/assets/texts/fr-FR/network_access_dialog.ftl
  desktop/assets/texts/he-IL/filesystem_access_dialog.ftl
  desktop/assets/texts/hu-HU/filesystem_access_dialog.ftl
  desktop/assets/texts/id-ID/filesystem_access_dialog.ftl
  desktop/assets/texts/it-IT/filesystem_access_dialog.ftl
  desktop/assets/texts/ja-JP/filesystem_access_dialog.ftl
  desktop/assets/texts/ko-KR/filesystem_access_dialog.ftl
  desktop/assets/texts/nl-NL/filesystem_access_dialog.ftl
  desktop/assets/texts/pl-PL/filesystem_access_dialog.ftl
  desktop/assets/texts/pt-BR/filesystem_access_dialog.ftl
  desktop/assets/texts/pt-PT/filesystem_access_dialog.ftl
  desktop/assets/texts/ro-RO/filesystem_access_dialog.ftl
  desktop/assets/texts/ru-RU/filesystem_access_dialog.ftl
  desktop/assets/texts/sk-SK/filesystem_access_dialog.ftl
  desktop/assets/texts/sv-SE/filesystem_access_dialog.ftl
  desktop/assets/texts/tr-TR/filesystem_access_dialog.ftl
  desktop/assets/texts/uk-UA/filesystem_access_dialog.ftl
  desktop/assets/texts/uk-UA/network_access_dialog.ftl
  desktop/assets/texts/uk-UA/open_url_dialog.ftl
  desktop/assets/texts/zh-CN/filesystem_access_dialog.ftl
  desktop/assets/texts/zh-TW/filesystem_access_dialog.ftl
  web/packages/core/texts/ja-JP/messages.ftl
  web/packages/core/texts/ja-JP/volume-controls.ftl
Labels: A-i18n, T-chore
