Repository ruffle-rs/ruffle, pull requests merged in 2024-11, with the labels that each got.

#18435 debug_ui: Add Avm2Button tab
  core/src/debug_ui/display_object.rs
Labels: A-core, T-feature

#18385 chore: Bump Binaryen (wasm-opt) to version 120
  .github/workflows/release_nightly.yml
  .github/workflows/test_extension_dockerfile.yml
  .github/workflows/test_web.yml
  web/docker/Dockerfile
Labels: A-build, T-chore

#18426 chore: Update translations
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
Labels: A-i18n, T-chore

#18447 text: Rename `INTERNAL_PADDING` to `GUTTER`
  core/src/display_object/edit_text.rs
Labels: text, A-core, T-refactor

#18434 core: Exclude `_root` from button mode
  core/src/display_object/movie_clip.rs
  tests/tests/swfs/avm1/root_button_mode/input.json
  tests/tests/swfs/avm1/root_button_mode/output.txt
  tests/tests/swfs/avm1/root_button_mode/source.as
  tests/tests/swfs/avm1/root_button_mode/test.swf
  tests/tests/swfs/avm1/root_button_mode/test.toml
Labels: A-core, T-fix

#18476 text: Remove layout line & layout box interior bounds
  core/src/debug_ui/display_object.rs
  core/src/display_object/edit_text.rs
  core/src/html/layout.rs
Labels: text, A-core, T-refactor

#18419 core: Handle the case where frame rate is set to 0
  core/src/avm2/globals/flash/display/stage.rs
  core/src/player.rs
  tests/tests/swfs/avm2/stage_framerate_nan/output.txt
  tests/tests/swfs/avm2/stage_framerate_nan/source.as
  tests/tests/swfs/avm2/stage_framerate_nan/test.swf
  tests/tests/swfs/avm2/stage_framerate_nan/test.toml
  tests/tests/swfs/avm2/stage_framerate_negative/output.txt
  tests/tests/swfs/avm2/stage_framerate_negative/source.as
  tests/tests/swfs/avm2/stage_framerate_negative/test.swf
  tests/tests/swfs/avm2/stage_framerate_negative/test.toml
  tests/tests/swfs/avm2/stage_framerate_zero/output.txt
  tests/tests/swfs/avm2/stage_framerate_zero/source.as
  tests/tests/swfs/avm2/stage_framerate_zero/test.swf
  tests/tests/swfs/avm2/stage_framerate_zero/test.toml
Labels: waiting-on-review, A-core, T-fix

#18520 avm1: When unloading a button, also unload its children
  core/src/display_object/avm1_button.rs
  tests/tests/swfs/avm1/movieclip_in_removed_button/output.txt
  tests/tests/swfs/avm1/movieclip_in_removed_button/test.fla
  tests/tests/swfs/avm1/movieclip_in_removed_button/test.swf
  tests/tests/swfs/avm1/movieclip_in_removed_button/test.toml
Labels: A-avm1, newsworthy, T-fix

#18516 core: Stop sounds attached to an unloaded root movie
  core/src/backend/audio.rs
  core/src/context.rs
  core/src/display_object.rs
  core/src/display_object/avm1_button.rs
  core/src/display_object/edit_text.rs
  core/src/display_object/movie_clip.rs
Labels: A-avm1, waiting-on-review, newsworthy, T-fix

#18523 text: Return text width only in `Font::measure`
  core/src/font.rs
  core/src/html/layout.rs
Labels: text, A-core, T-refactor

#18431 render: Update wgpu to 23
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  deny.toml
  desktop/Cargo.toml
  desktop/src/gui/controller.rs
  desktop/src/gui/movie.rs
  desktop/src/util.rs
  render/wgpu/src/context3d/current_pipeline.rs
  render/wgpu/src/descriptors.rs
  render/wgpu/src/filters/bevel.rs
  render/wgpu/src/filters/blur.rs
  render/wgpu/src/filters/color_matrix.rs
  render/wgpu/src/filters/displacement_map.rs
  render/wgpu/src/filters/glow.rs
  render/wgpu/src/pipelines.rs
  render/wgpu/src/pixel_bender.rs
Labels: A-rendering, render-wgpu, T-chore

#18489 debug_ui: Show text format on hover in EditText
  core/src/debug_ui/display_object.rs
Labels: A-core, T-feature

#18390 avm2: Fix string.replace capture group 0 handling
  core/src/avm2/regexp.rs
  tests/tests/swfs/avm2/string_replace/Test.as
  tests/tests/swfs/avm2/string_replace/output.txt
  tests/tests/swfs/avm2/string_replace/test.swf
Labels: A-avm2, waiting-on-review, T-fix

#18515 web: Use tsx for save manager rows and use more accurate check for SOL
  web/packages/core/src/internal/player/inner.tsx
Labels: A-web, T-refactor

#18634 debug_ui: Fix 'AVM2 Root' always showing 'Self'
  core/src/debug_ui/display_object.rs
Labels: A-desktop, T-fix

#18633 avm2: Use fast pointer comparison for broadcast-list dupe checks
  core/src/avm2.rs
  core/src/avm2/object.rs
Labels: A-avm2, T-perf

#18497 chore: Update translations
  desktop/assets/texts/ar-SA/about_dialog.ftl
  desktop/assets/texts/ar-SA/main_menu.ftl
  desktop/assets/texts/ar-SA/open_url_dialog.ftl
  desktop/assets/texts/ar-SA/preferences_dialog.ftl
  desktop/assets/texts/ar-SA/settings.ftl
  desktop/assets/texts/es-ES/preferences_dialog.ftl
  desktop/assets/texts/fr-FR/main_menu.ftl
  desktop/assets/texts/ko-KR/main_menu.ftl
  desktop/assets/texts/pt-BR/filesystem_access_dialog.ftl
  desktop/assets/texts/pt-BR/preferences_dialog.ftl
  desktop/assets/texts/pt-PT/main_menu.ftl
  desktop/assets/texts/ru-RU/preferences_dialog.ftl
  desktop/assets/texts/zh-CN/main_menu.ftl
  desktop/assets/texts/zh-CN/settings.ftl
  desktop/assets/texts/zh-TW/main_menu.ftl
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
  web/packages/core/texts/pt-BR/messages.ftl
  web/packages/extension/assets/_locales/pt_PT/messages.json
Labels: A-i18n, T-chore

#18709 chore: Rename `pt` locale for extension to `pt_BR`
  web/packages/extension/assets/_locales/pt_BR/messages.json
Labels: A-i18n, T-chore

#18697 chore: Update translations
  desktop/assets/texts/de-DE/file_picker.ftl
  desktop/assets/texts/de-DE/filesystem_access_dialog.ftl
  desktop/assets/texts/de-DE/message_dialogs.ftl
  desktop/assets/texts/pl-PL/main_menu.ftl
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
Labels: A-i18n, T-chore

#18698 web: Fix documentation
  web/packages/core/src/public/player/player-element.ts
  web/packages/core/src/public/setup/index.ts
Labels: A-web, T-chore

#18728 chore: Update translations
  desktop/assets/texts/tr-TR/network_access_dialog.ftl
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
Labels: A-i18n, T-chore

#18727 frontend_utils: Make Ruffle Bundle errors more verbose
  frontend-utils/src/bundle.rs
Labels: A-desktop, T-refactor

#18748 text: Remove EditText::line_width
  core/src/display_object/edit_text.rs
Labels: A-core, T-refactor

#18794 core: Set BitmapData as synced after texture creation
  core/src/bitmap/bitmap_data.rs
Labels: T-perf, A-core
