Repository ruffle-rs/ruffle, pull requests merged in 2025-08, with the labels that each got.

#21160 tests: Add avm1/loadmovie_var_persistence test
  tests/tests/swfs/avm1/loadmovie_var_persistence/clip1.swf
  tests/tests/swfs/avm1/loadmovie_var_persistence/clip2.swf
  tests/tests/swfs/avm1/loadmovie_var_persistence/output.txt
  tests/tests/swfs/avm1/loadmovie_var_persistence/test.swf
  tests/tests/swfs/avm1/loadmovie_var_persistence/test.toml
Labels: A-tests, T-compat

#21167 tests: Port Definitions/Super AS3 tests from avmplus
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperArgsCall/SuperArgsCallPkg/SuperArgsCall.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperArgsCall/SuperArgsCallPkg/SuperArgsCallBase.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperArgsCall/Test.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperArgsCall/config.xml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperArgsCall/output.txt
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperArgsCall/test.swf
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperArgsCall/test.toml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperExprChainAccess/SuperExprChainAccessPkg/SuperExprChainAccess.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperExprChainAccess/SuperExprChainAccessPkg/base.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperExprChainAccess/SuperExprChainAccessPkg/derived.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperExprChainAccess/SuperExprChainAccessPkg/middle1.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperExprChainAccess/SuperExprChainAccessPkg/middle2.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperExprChainAccess/Test.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperExprChainAccess/config.xml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperExprChainAccess/output.txt
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperExprChainAccess/test.swf
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperExprChainAccess/test.toml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperImplicitlyCalled/SuperImplicitlyCalledPackage/SuperImplicitlyCalled.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperImplicitlyCalled/SuperImplicitlyCalledPackage/SuperImplicitlyCalled1.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperImplicitlyCalled/SuperImplicitlyCalledPackage/SuperImplicitlyCalled2.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperImplicitlyCalled/SuperImplicitlyCalledPackage/SuperImplicitlyCalled3.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperImplicitlyCalled/Test.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperImplicitlyCalled/config.xml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperImplicitlyCalled/output.txt
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperImplicitlyCalled/test.swf
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperImplicitlyCalled/test.toml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperInForLoop/Test.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperInForLoop/config.xml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperInForLoop/output.txt
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperInForLoop/test.swf
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperInForLoop/test.toml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperObject/SuperObjectPkg/SuperObject.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperObject/Test.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperObject/config.xml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperObject/output.txt
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperObject/test.swf
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperObject/test.toml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperObjectCall/SuperObjectCallPkg/SuperObjectCall.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperObjectCall/Test.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperObjectCall/config.xml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperObjectCall/output.txt
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperObjectCall/test.swf
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperObjectCall/test.toml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperProps/SuperPropsPkg/SuperBase.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperProps/SuperPropsPkg/SuperProps.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperProps/Test.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperProps/config.xml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperProps/output.txt
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperProps/test.swf
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperProps/test.toml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperRuntimeError/SuperRuntimeErrorPackage/otherPackageBase.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperRuntimeError/SuperRuntimeErrorPkg/SuperRuntimeError.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperRuntimeError/SuperRuntimeErrorPkg/base.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperRuntimeError/Test.as
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperRuntimeError/config.xml
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperRuntimeError/output.txt
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperRuntimeError/test.swf
  tests/tests/swfs/from_avmplus/as3/Definitions/Super/SuperRuntimeError/test.toml
Labels: A-tests, T-compat

#21166 tests: Increase minimum stack size
  .cargo/config.toml
  tests/tests/swfs/from_avmplus/ecma3/JSON/regress/test.toml
  tests/tests/swfs/from_avmplus/recursion/xml_functions/test.toml
Labels: A-tests, T-fix

#21175 avm2: Fix `undefined.super()` not throwing an error
  core/src/avm2/optimizer/optimize.rs
  tests/tests/swfs/avm2/constructsuper_null/output.txt
  tests/tests/swfs/avm2/constructsuper_null/test.swf
Labels: A-avm2, T-fix

#20860 ci: Publish release commits for nightly
  .github/scripts/release.py
  .github/workflows/release_nightly.yml
Labels: A-build, T-refactor

#21205 chore: Minor Cargo.toml fixes
  web/Cargo.toml
  web/common/Cargo.toml
Labels: waiting-on-review, A-other, T-chore

#21276 avm2: Throw error 1132 for Json.parse(null) and Json.parse(undefined)
  core/src/avm2/error.rs
  core/src/avm2/globals/json.rs
  tests/tests/swfs/from_avmplus/ecma3/JSON/Invalid/test.toml
Labels: A-avm2, T-fix

#21251 demo: Check if SWF sample type is undefined, not null
  web/packages/demo/src/navbar/samples.tsx
Labels: A-other, T-fix

#21202 ci: Switch Windows GHA runners to windows-2025
  .github/workflows/release_nightly.yml
  .github/workflows/test_rust.yml
  .github/workflows/test_web.yml
Labels: A-build, T-chore

#18754 core: Rename BitmapData->BitmapRawData, wrap it in new BitmapData
  core/src/avm1/globals/bitmap_data.rs
  core/src/avm1/globals/displacement_map_filter.rs
  core/src/avm1/object.rs
  core/src/avm2/globals/flash/display/bitmap.rs
  core/src/avm2/globals/flash/display/bitmap_data.rs
  core/src/avm2/globals/flash/display3D/textures/texture.rs
  core/src/avm2/object.rs
  core/src/avm2/object/bitmapdata_object.rs
  core/src/avm2/object/context3d_object.rs
  core/src/bitmap/bitmap_data.rs
  core/src/bitmap/operations.rs
  core/src/debug_ui/display_object.rs
  core/src/display_object/bitmap.rs
  core/src/loader.rs
Labels: waiting-on-review, A-core, T-refactor

#21313 core: Force correct alignment for `DisplayObjectBase`
  core/src/display_object.rs
Labels: A-core, T-fix

#21317 render: Always copy directly to wgpu buffer in `CopyBitmapToTexture`.
  render/wgpu/src/context3d/mod.rs
Labels: A-rendering, T-perf

#21385 tests: Disable default font feature by default
  core/src/player.rs
  tests/framework/src/options.rs
  tests/tests/swfs/avm1/device_font_spacing/test.toml
  tests/tests/swfs/avm1/edittext_drag_select/test.toml
  tests/tests/swfs/avm1/edittext_hscroll/test.toml
  tests/tests/swfs/avm1/from_shumway/text_bind/test.toml
  tests/tests/swfs/avm1/gettextextent/test.toml
  tests/tests/swfs/avm2/away3d_advanced_shallow_water_demo/test.toml
  tests/tests/swfs/avm2/bitmapdata_applyfilter_blur/test.toml
  tests/tests/swfs/avm2/bitmapdata_applyfilter_colormatrix/test.toml
  tests/tests/swfs/avm2/bitmapdata_draw/test.toml
  tests/tests/swfs/avm2/bitmapdata_drawwithquality/test.toml
  tests/tests/swfs/avm2/edittext_always_show_selection/test.toml
  tests/tests/swfs/avm2/edittext_at_point_methods_basic/test.toml
  tests/tests/swfs/avm2/edittext_get_line_index_of_char/test.toml
  tests/tests/swfs/avm2/edittext_getcharboundaries_missing_embedded_font/test.toml
  tests/tests/swfs/avm2/edittext_line_methods/test.toml
  tests/tests/swfs/avm2/edittext_mouse_selection/test.toml
  tests/tests/swfs/avm2/edittext_scrollh/test.toml
  tests/tests/swfs/avm2/mouse_wheel_events/test.toml
  tests/tests/swfs/avm2/stage3d_bitmap/test.toml
  tests/tests/swfs/avm2/stage3d_fractal/test.toml
  tests/tests/swfs/avm2/stage3d_texture/test.toml
  tests/tests/swfs/fonts/embed_matching/no_font_found/test.toml
  tests/tests/swfs/visual/cache_as_bitmap/edittext_scroll/test.toml
  tests/tests/swfs/visual/cache_as_bitmap/edittext_selection/test.toml
  tests/tests/swfs/visual/cache_as_bitmap/text/test.toml
  tests/tests/swfs/visual/filters/bevel/test.toml
  tests/tests/swfs/visual/filters/bevel_full/test.toml
  tests/tests/swfs/visual/filters/bevel_inner/test.toml
  tests/tests/swfs/visual/filters/bevel_outer/test.toml
  tests/tests/swfs/visual/filters/drop_shadow/test.toml
  tests/tests/swfs/visual/filters/glow/test.toml
  tests/tests/swfs/visual/filters/glow_with_alpha_strength/test.toml
  tests/tests/swfs/visual/filters/glow_without_composite_source/test.toml
  tests/tests/swfs/visual/fonts/font_lookup_as3/test.toml
  tests/tests/swfs/visual/text/String_path_variable_button/test.toml
Labels: A-tests, T-compat

#21433 core: Make code more readable for PixelRegion (nit)
  render/src/bitmap.rs
Labels: A-rendering, T-refactor

#21427 chore: Mark `avm2/stage3d_errors_atf` test as flaky
  .config/nextest.toml
Labels: A-tests, T-chore

#21342 ci: Add test coverage
  .github/workflows/test_rust.yml
Labels: A-build, waiting-on-review, T-feature

#21439 chore: Update package index before installing tools in l10n GHA workflows
  .github/workflows/download_translations.yml
  .github/workflows/upload_texts.yml
Labels: A-build, T-chore

#21083 chore: Update translations
  core/assets/texts/ar-SA/context_menu.ftl
  core/assets/texts/eo-UY/context_menu.ftl
  desktop/assets/texts/eo-UY/about_dialog.ftl
  desktop/assets/texts/eo-UY/bookmarks_dialog.ftl
  desktop/assets/texts/eo-UY/common.ftl
  desktop/assets/texts/eo-UY/context_menu.ftl
  desktop/assets/texts/eo-UY/dialogs.ftl
  desktop/assets/texts/eo-UY/file_picker.ftl
  desktop/assets/texts/eo-UY/filesystem_access_dialog.ftl
  desktop/assets/texts/eo-UY/main_menu.ftl
  desktop/assets/texts/eo-UY/message_dialogs.ftl
  desktop/assets/texts/eo-UY/network_access_dialog.ftl
  desktop/assets/texts/eo-UY/open_dialog.ftl
  desktop/assets/texts/eo-UY/open_url_dialog.ftl
  desktop/assets/texts/eo-UY/preferences_dialog.ftl
  desktop/assets/texts/eo-UY/settings.ftl
  desktop/assets/texts/eo-UY/volume_dialog.ftl
  desktop/assets/texts/nl-NL/main_menu.ftl
  desktop/assets/texts/nl-NL/preferences_dialog.ftl
  desktop/assets/texts/ro-RO/settings.ftl
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
  web/packages/core/texts/eo-UY/context_menu.ftl
  web/packages/core/texts/eo-UY/messages.ftl
  web/packages/core/texts/eo-UY/save-manager.ftl
  web/packages/core/texts/eo-UY/volume-controls.ftl
  web/packages/extension/assets/_locales/ar/messages.json
  web/packages/extension/assets/_locales/eo/messages.json
  web/packages/extension/assets/_locales/nl/messages.json
Labels: A-i18n, T-chore

#21428 avm2: Fix AMF serialization of Dictionary
  core/src/avm2/amf.rs
  tests/tests/swfs/avm2/amf_dictionary/Test.as
  tests/tests/swfs/avm2/amf_dictionary/output.txt
  tests/tests/swfs/avm2/amf_dictionary/test.swf
  tests/tests/swfs/avm2/amf_dictionary/test.toml
  tests/tests/swfs/from_avmplus/as3/AMF/AMFSerializer/test.toml
Labels: A-avm2, newsworthy, T-fix

#21454 chore: Update translations
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
Labels: A-i18n, T-chore

#21286 Updated PKGBUILD file to support Arm64
  desktop/packages/linux/aur/ruffle-nightly-bin/PKGBUILD
Labels: A-build, linux, T-feature

#21347 avm2: Correct error text in LocalConnectionObject::run_method
  core/src/avm2/object/local_connection_object.rs
  tests/tests/swfs/from_shumway/localconnection/test.toml
Labels: A-avm2, T-fix
