Repository ruffle-rs/ruffle, pull requests merged in 2025-09, with the labels that each got.

#21529 chore: Fix a code comment
  core/src/vminterface.rs
Labels: A-other, T-refactor

#21537 avm2: Add `[Ruffle(ConstructOnCall)]` annotation
  core/build_playerglobal/src/lib.rs
  core/src/avm2/globals.rs
  core/src/avm2/globals/ArgumentError.as
  core/src/avm2/globals/Array.as
  core/src/avm2/globals/DefinitionError.as
  core/src/avm2/globals/Error.as
  core/src/avm2/globals/EvalError.as
  core/src/avm2/globals/Function.as
  core/src/avm2/globals/Namespace.as
  core/src/avm2/globals/RangeError.as
  core/src/avm2/globals/ReferenceError.as
  core/src/avm2/globals/SecurityError.as
  core/src/avm2/globals/SyntaxError.as
  core/src/avm2/globals/TypeError.as
  core/src/avm2/globals/URIError.as
  core/src/avm2/globals/UninitializedError.as
  core/src/avm2/globals/VerifyError.as
  core/src/avm2/globals/argument_error.rs
  core/src/avm2/globals/array.rs
  core/src/avm2/globals/definition_error.rs
  core/src/avm2/globals/error.rs
  core/src/avm2/globals/eval_error.rs
  core/src/avm2/globals/function.rs
  core/src/avm2/globals/namespace.rs
  core/src/avm2/globals/range_error.rs
  core/src/avm2/globals/reference_error.rs
  core/src/avm2/globals/security_error.rs
  core/src/avm2/globals/syntax_error.rs
  core/src/avm2/globals/type_error.rs
  core/src/avm2/globals/uninitialized_error.rs
  core/src/avm2/globals/uri_error.rs
  core/src/avm2/globals/verify_error.rs
  core/src/avm2/object.rs
Labels: A-avm2, T-refactor

#21543 avm2: Set functions as their own constructors
  core/src/avm2/object/function_object.rs
  tests/tests/swfs/from_avmplus/ecma3/Expressions/e11_6_1_3/test.toml
  tests/tests/swfs/from_avmplus/ecma3/Expressions/e11_6_2_1/test.toml
  tests/tests/swfs/from_avmplus/ecma3/FunctionObjects/e15_3_1_1_1_rt/test.toml
  tests/tests/swfs/from_avmplus/ecma3/FunctionObjects/e15_3_2_1_1_rt/test.toml
  tests/tests/swfs/from_avmplus/ecma3/FunctionObjects/e15_3_5_2_rt/test.toml
Labels: A-avm2, T-fix

#21544 avm2: Use ConstructOnCall on Object
  core/src/avm2/globals/Object.as
  core/src/avm2/globals/object.rs
Labels: A-avm2, T-refactor

#21555 chore: Update translations
  core/assets/texts/th-TH/context_menu.ftl
  desktop/assets/texts/th-TH/about_dialog.ftl
  desktop/assets/texts/th-TH/bookmarks_dialog.ftl
  desktop/assets/texts/th-TH/common.ftl
  desktop/assets/texts/th-TH/context_menu.ftl
  desktop/assets/texts/th-TH/dialogs.ftl
  desktop/assets/texts/th-TH/file_picker.ftl
  desktop/assets/texts/th-TH/filesystem_access_dialog.ftl
  desktop/assets/texts/th-TH/main_menu.ftl
  desktop/assets/texts/th-TH/message_dialogs.ftl
  desktop/assets/texts/th-TH/network_access_dialog.ftl
  desktop/assets/texts/th-TH/open_dialog.ftl
  desktop/assets/texts/th-TH/open_url_dialog.ftl
  desktop/assets/texts/th-TH/preferences_dialog.ftl
  desktop/assets/texts/th-TH/settings.ftl
  desktop/assets/texts/th-TH/volume_dialog.ftl
  web/packages/core/texts/th-TH/context_menu.ftl
  web/packages/core/texts/th-TH/messages.ftl
  web/packages/core/texts/th-TH/save-manager.ftl
  web/packages/core/texts/th-TH/volume-controls.ftl
  web/packages/extension/assets/_locales/th/messages.json
Labels: A-i18n, T-chore

#21568 tests: Fix from_shumway/avm1/hitarea
  tests/tests/swfs/from_shumway/avm1/hitarea/input.json
  tests/tests/swfs/from_shumway/avm1/hitarea/test.toml
Labels: A-tests, T-fix

#21503 debug_ui: Fix egui widget ID collisions in DomainListWindow
  core/src/debug_ui/domain.rs
Labels: A-desktop, T-fix

#21563 tests: Update READMEs for ported tests
  tests/tests/swfs/from_avmplus/README.md
  tests/tests/swfs/from_shumway/README.md
Labels: A-tests, T-chore

#21570 ci: Exclude unrelated crates from coverage
  .github/workflows/test_rust.yml
Labels: A-build, T-fix

#21607 chore: Clean up flake8 lints in release.py
  .github/scripts/release.py
Labels: A-build, T-chore

#21657 desktop: Mmap GUI fonts instead of loading them into memory
  desktop/src/gui/controller.rs
Labels: A-desktop, T-perf

#21611 chore: Make `TDisplayObject::object2` return `Option<StageObject>`
  core/src/avm2/events.rs
  core/src/avm2/globals/flash/display/display_object.rs
  core/src/avm2/globals/flash/display/display_object_container.rs
  core/src/avm2/globals/flash/display/loader_info.rs
  core/src/avm2/globals/flash/display/simple_button.rs
  core/src/avm2/globals/flash/display/sprite.rs
  core/src/avm2/globals/flash/display/stage.rs
  core/src/avm2/object/event_object.rs
  core/src/debug_ui/display_object.rs
  core/src/display_object.rs
  core/src/display_object/avm1_button.rs
  core/src/display_object/avm2_button.rs
  core/src/display_object/bitmap.rs
  core/src/display_object/container.rs
  core/src/display_object/edit_text.rs
  core/src/display_object/graphic.rs
  core/src/display_object/interactive.rs
  core/src/display_object/loader_display.rs
  core/src/display_object/morph_shape.rs
  core/src/display_object/movie_clip.rs
  core/src/display_object/stage.rs
  core/src/display_object/text.rs
  core/src/display_object/video.rs
  core/src/focus_tracker.rs
  core/src/player.rs
Labels: A-core, T-refactor

#21659 chore: Update translations
  desktop/assets/texts/pt-BR/main_menu.ftl
  desktop/assets/texts/pt-BR/preferences_dialog.ftl
  desktop/assets/texts/pt-PT/main_menu.ftl
  desktop/assets/texts/pt-PT/settings.ftl
  desktop/assets/texts/ru-RU/about_dialog.ftl
  desktop/assets/texts/ru-RU/main_menu.ftl
  desktop/assets/texts/th-TH/bookmarks_dialog.ftl
  desktop/assets/texts/th-TH/common.ftl
  desktop/assets/texts/th-TH/file_picker.ftl
  desktop/assets/texts/th-TH/filesystem_access_dialog.ftl
  desktop/assets/texts/th-TH/main_menu.ftl
  desktop/assets/texts/th-TH/message_dialogs.ftl
  desktop/assets/texts/th-TH/network_access_dialog.ftl
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
  web/packages/core/texts/pt-BR/messages.ftl
  web/packages/extension/assets/_locales/pt_PT/messages.json
Labels: A-i18n, T-chore

#21697 chore: Update translations from Crowdin
  core/assets/texts/fi-FI/context_menu.ftl
  desktop/assets/texts/es-ES/main_menu.ftl
  desktop/assets/texts/fi-FI/about_dialog.ftl
  desktop/assets/texts/fi-FI/bookmarks_dialog.ftl
  desktop/assets/texts/fi-FI/common.ftl
  desktop/assets/texts/fi-FI/context_menu.ftl
  desktop/assets/texts/fi-FI/dialogs.ftl
  desktop/assets/texts/fi-FI/file_picker.ftl
  desktop/assets/texts/fi-FI/filesystem_access_dialog.ftl
  desktop/assets/texts/fi-FI/main_menu.ftl
  desktop/assets/texts/fi-FI/volume_dialog.ftl
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
Labels: A-i18n, T-chore

#21699 avm2: Use the fast path for Value::Number integers in op_get_property_fast/op_set_property_fast
  core/src/avm2/activation.rs
  core/src/avm2/value.rs
Labels: A-avm2, T-perf

#21706 tests: Document missing test.toml options
  tests/README.md
Labels: A-tests, T-chore

#21678 debug_ui: Improve movie list display responsiveness
  core/src/debug_ui/movie.rs
Labels: A-core, T-feature

#21661 avm2: Dispatch hover events while dragging
  core/src/player.rs
  tests/tests/swfs/avm1/rollover_while_dragging/input.json
  tests/tests/swfs/avm1/rollover_while_dragging/output.txt
  tests/tests/swfs/avm1/rollover_while_dragging/test.as
  tests/tests/swfs/avm1/rollover_while_dragging/test.swf
  tests/tests/swfs/avm1/rollover_while_dragging/test.toml
  tests/tests/swfs/avm2/mouse_over_while_dragging/Test.as
  tests/tests/swfs/avm2/mouse_over_while_dragging/input.json
  tests/tests/swfs/avm2/mouse_over_while_dragging/output.txt
  tests/tests/swfs/avm2/mouse_over_while_dragging/test.swf
  tests/tests/swfs/avm2/mouse_over_while_dragging/test.toml
Labels: A-avm2, T-fix

#21720 chore: Update translations from Crowdin
  desktop/assets/texts/th-TH/network_access_dialog.ftl
  web/packages/extension/assets/_locales/es/messages.json
  web/packages/extension/assets/_locales/fi/messages.json
  web/packages/extension/assets/_locales/th/messages.json
Labels: A-i18n, T-chore

#21712 web: Bump chai from 5.3.1 to 6.0.1 and chai-html from 3.1.0 to 3.2.0
  web/package-lock.json
  web/package.json
Labels: A-deps, T-chore

#21255 avm2: Add an int*int -> int path to help other fast paths
  core/src/avm2/activation.rs
Labels: A-avm2, T-perf

#21722 extension: Don't run on Kick
  web/packages/extension/manifest.json5
Labels: A-web, extension, T-fix

#21726 web: Use title case for context menu entries
  web/packages/core/texts/en-US/context_menu.ftl
Labels: A-web, T-fix

#21747 chore: Update translations from Crowdin
  desktop/assets/texts/fi-FI/about_dialog.ftl
  desktop/assets/texts/fi-FI/common.ftl
  desktop/assets/texts/fi-FI/filesystem_access_dialog.ftl
  desktop/assets/texts/fi-FI/main_menu.ftl
  desktop/assets/texts/fi-FI/preferences_dialog.ftl
  desktop/assets/texts/fi-FI/settings.ftl
  desktop/assets/texts/pl-PL/about_dialog.ftl
  desktop/assets/texts/pl-PL/settings.ftl
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
  web/packages/core/texts/fi-FI/context_menu.ftl
  web/packages/core/texts/fi-FI/messages.ftl
  web/packages/core/texts/fi-FI/save-manager.ftl
  web/packages/core/texts/pl-PL/context_menu.ftl
  web/packages/extension/assets/_locales/fi/messages.json
  web/packages/extension/assets/_locales/pl/messages.json
Labels: A-i18n, T-chore
