Repository ruffle-rs/ruffle, pull requests merged in 2025-02, with the labels that each got.

#19227 chore: Update translations
  desktop/assets/texts/ar-SA/main_menu.ftl
  desktop/assets/texts/ar-SA/preferences_dialog.ftl
  desktop/assets/texts/de-DE/file_picker.ftl
  desktop/assets/texts/pl-PL/settings.ftl
  desktop/assets/texts/ru-RU/main_menu.ftl
  desktop/assets/texts/zh-CN/settings.ftl
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  web/packages/core/texts/ar-SA/messages.ftl
  web/packages/core/texts/ko-KR/messages.ftl
  web/packages/core/texts/pl-PL/messages.ftl
  web/packages/core/texts/pt-PT/messages.ftl
  web/packages/core/texts/ru-RU/messages.ftl
Labels: A-i18n, T-chore

#19376 desktop: Use nanosecond precision for dt when ticking
  core/src/player.rs
  desktop/src/app.rs
Labels: A-desktop, waiting-on-review, T-fix

#19423 desktop: Fix busy loop in winit
  desktop/src/app.rs
Labels: A-desktop, T-perf

#19430 desktop: Add Ruffle to the Emulator category
  desktop/packages/linux/rs.ruffle.Ruffle.desktop.in
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml.in
Labels: A-desktop, linux, T-feature

#19439 chore: appease clippy
  core/src/avm2/globals.rs
Labels: A-avm2, T-chore

#19440 avm2: Remove RefLock around BoundMethod stored by FunctionObject
  core/src/avm2/amf.rs
  core/src/avm2/globals/function.rs
  core/src/avm2/object.rs
  core/src/avm2/object/function_object.rs
  core/src/avm2/specification.rs
Labels: A-avm2, T-refactor

#19435 chore: Bump Binaryen (wasm-opt) to version 122
  .github/workflows/release_nightly.yml
  .github/workflows/test_extension_dockerfile.yml
  .github/workflows/test_web.yml
  web/docker/Dockerfile
Labels: A-build, T-chore

#19446 debug_ui: Add Style Sheet tab for AVM1 objects
  core/src/debug_ui.rs
  core/src/debug_ui/avm1.rs
  core/src/debug_ui/avm2.rs
  core/src/debug_ui/common.rs
  core/src/debug_ui/display_object.rs
Labels: A-desktop, T-feature

#19418 chore: Update translations
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
Labels: A-i18n, T-chore

#19402 desktop: Make the main window at minimum wider than the menu bar
  desktop/src/app.rs
Labels: A-desktop, T-feature

#19480 avm1: Don't use a static `AvmString` for AVM1 array's length property
  core/src/avm1/activation.rs
  core/src/avm1/flv.rs
  core/src/avm1/function.rs
  core/src/avm1/globals/array.rs
  core/src/avm1/globals/as_broadcaster.rs
  core/src/avm1/globals/button.rs
  core/src/avm1/globals/color_matrix_filter.rs
  core/src/avm1/globals/convolution_filter.rs
  core/src/avm1/globals/file_reference.rs
  core/src/avm1/globals/gradient_filter.rs
  core/src/avm1/globals/key.rs
  core/src/avm1/globals/mouse.rs
  core/src/avm1/globals/movie_clip.rs
  core/src/avm1/globals/movie_clip_loader.rs
  core/src/avm1/globals/selection.rs
  core/src/avm1/globals/stage.rs
  core/src/avm1/globals/string.rs
  core/src/avm1/globals/style_sheet.rs
  core/src/avm1/globals/system_ime.rs
  core/src/avm1/globals/text_field.rs
  core/src/avm1/globals/text_format.rs
  core/src/avm1/object/array_object.rs
  core/src/display_object/edit_text.rs
  core/src/external.rs
Labels: A-avm1, T-refactor

#19462 avm1: Do not unwrap parent when removing objects pending removal
  core/src/avm1/runtime.rs
Labels: A-avm1, newsworthy, T-fix

#19504 avm1: avoid creating a temporary `Vec` in `Array.prototype.splice`
  core/src/avm1/globals/array.rs
Labels: A-avm1, T-perf

#19534 ci: Use dotnet to install wix extensions
  .github/workflows/release_nightly.yml
Labels: A-build, T-chore

#18414 build(deps): bump quick-xml in the cargo-minor group
  Cargo.lock
  core/Cargo.toml
  core/src/html/text_format.rs
  core/src/xml/tree.rs
Labels: A-deps, T-chore

#19542 Version pinning just the wix base
  .github/workflows/release_nightly.yml
Labels: A-build, T-chore

#19541 refactor: Use ActionScript names for KeyCodes
  core/src/avm1/globals/key.rs
  core/src/events.rs
  core/src/player.rs
  desktop/src/util.rs
  web/src/input.rs
Labels: A-core, T-refactor

#19554 ci: Pin the wix extensions as well
  .github/workflows/release_nightly.yml
Labels: A-build, T-fix

#19544 refactor: Add InputEvent
  core/src/events.rs
  core/src/input.rs
  core/src/player.rs
Labels: A-input, T-refactor

#19564 chore: Fix beta clippy lints `manual_div_ceil` and `unneeded_struct_pattern`
  core/src/avm2/multiname.rs
  render/src/bitmap.rs
  video/software/src/decoder/vp6.rs
Labels: A-other, T-chore

#19557 build(deps): bump the cargo-minor group across 1 directory with 4 updates
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  render/Cargo.toml
  render/wgpu/Cargo.toml
Labels: A-deps, T-chore

#19573 chore: Update translations
  core/assets/texts/vi-VN/context_menu.ftl
  desktop/assets/texts/vi-VN/about_dialog.ftl
  desktop/assets/texts/vi-VN/bookmarks_dialog.ftl
  desktop/assets/texts/vi-VN/common.ftl
  desktop/assets/texts/vi-VN/context_menu.ftl
  desktop/assets/texts/vi-VN/dialogs.ftl
  desktop/assets/texts/vi-VN/file_picker.ftl
  desktop/assets/texts/vi-VN/filesystem_access_dialog.ftl
  desktop/assets/texts/vi-VN/main_menu.ftl
  desktop/assets/texts/vi-VN/message_dialogs.ftl
  desktop/assets/texts/vi-VN/network_access_dialog.ftl
  desktop/assets/texts/vi-VN/open_dialog.ftl
  desktop/assets/texts/vi-VN/open_url_dialog.ftl
  desktop/assets/texts/vi-VN/preferences_dialog.ftl
  desktop/assets/texts/vi-VN/settings.ftl
  desktop/assets/texts/vi-VN/volume_dialog.ftl
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
  web/packages/core/texts/vi-VN/context_menu.ftl
  web/packages/core/texts/vi-VN/messages.ftl
  web/packages/core/texts/vi-VN/save-manager.ftl
  web/packages/core/texts/vi-VN/volume-controls.ftl
  web/packages/extension/assets/_locales/vi/messages.json
Labels: A-i18n, T-chore

#19587 render: Remove `Rc` around `wgpu` objects
  render/wgpu/src/context3d/current_pipeline.rs
  render/wgpu/src/context3d/mod.rs
Labels: A-rendering, T-refactor

#19521 AVM2: Partially support parentAllowsChild when domains match
  core/src/avm2/globals/flash/display/loader_info.rs
  core/src/avm2/object/loaderinfo_object.rs
Labels: A-avm2, T-fix

#19512 render: Switch to wgpu fork with backported GLES limits fix
  Cargo.lock
  Cargo.toml
Labels: A-deps, render-wgpu, T-chore

#19595 core: Rename display objects' `static_data` field to `shared`
  core/src/display_object/avm1_button.rs
  core/src/display_object/avm2_button.rs
  core/src/display_object/edit_text.rs
  core/src/display_object/graphic.rs
  core/src/display_object/morph_shape.rs
  core/src/display_object/movie_clip.rs
  core/src/display_object/text.rs
Labels: A-core, T-refactor

#19597 core: Do not panic on missing parent in text variable binding
  core/src/display_object/edit_text.rs
Labels: A-core, T-fix

#19610 avm2: Set correct version to Socket::timeout
  core/src/avm2/globals/flash/net/Socket.as
Labels: A-avm2, T-fix

#19611 chore: Update translations
  desktop/assets/texts/he-IL/message_dialogs.ftl
  desktop/assets/texts/vi-VN/filesystem_access_dialog.ftl
  desktop/assets/texts/vi-VN/open_dialog.ftl
  desktop/assets/texts/vi-VN/settings.ftl
  web/packages/core/texts/ja-JP/messages.ftl
Labels: A-i18n, T-chore

#19652 core: Remove unused last_text_control
  core/src/input.rs
Labels: waiting-on-review, A-core, T-refactor

#19658 frontend_utils: Be more verbose on IO bundle errors
  frontend-utils/src/bundle/source.rs
Labels: A-desktop, waiting-on-review, T-fix

#19651 desktop: Map window to movie position explicitly
  desktop/src/app.rs
  desktop/src/gui/controller.rs
Labels: A-desktop, waiting-on-review, T-refactor

#19348 web: Fix extension not working in Safari 16 (close #10981)
  web/packages/extension/src/content.ts
  web/packages/extension/src/ruffle.ts
Labels: A-web, extension, T-fix
