Repository ruffle-rs/ruffle, pull requests merged in 2025-07, with the labels that each got.

#20894 core: Remove double self pointers
  core/src/avm1/globals/bitmap_data.rs
  core/src/display_object.rs
  core/src/display_object/avm1_button.rs
  core/src/display_object/avm2_button.rs
  core/src/display_object/bitmap.rs
  core/src/display_object/container.rs
  core/src/display_object/edit_text.rs
  core/src/display_object/graphic.rs
  core/src/display_object/interactive.rs
  core/src/display_object/loader_display.rs
  core/src/display_object/morph_shape.rs
  core/src/display_object/movie_clip.rs
  core/src/display_object/stage.rs
  core/src/display_object/text.rs
  core/src/display_object/video.rs
Labels: A-core, T-refactor

#20852 core/avm1: Move AVM1-specific XML code into AVM1
  core/src/avm1.rs
  core/src/avm1/globals/xml.rs
  core/src/avm1/globals/xml_node.rs
  core/src/avm1/object.rs
  core/src/avm1/xml.rs
  core/src/avm1/xml/iterators.rs
  core/src/avm1/xml/tree.rs
  core/src/xml.rs
Labels: A-core, T-refactor

#20933 tests: Fix avm1/array_sort_random
  core/src/avm1/globals/array.rs
  tests/tests/swfs/avm1/array_sort_random/test.toml
Labels: A-avm1, T-fix

#20925 core: properly free memory in `BitmapData::dispose`
  core/src/bitmap/bitmap_data.rs
Labels: T-perf, A-core

#20981 tests: Improve error messages when parsing {input,socket}.json
  tests/framework/src/test.rs
Labels: A-tests, T-fix

#20976 chore: Update translations
  desktop/assets/texts/de-DE/main_menu.ftl
  desktop/assets/texts/ro-RO/bookmarks_dialog.ftl
  desktop/assets/texts/ro-RO/common.ftl
  web/packages/core/texts/de-DE/messages.ftl
  web/packages/core/texts/ja-JP/messages.ftl
Labels: A-i18n, T-chore

#20995 chore: Update translations
  desktop/assets/texts/ro-RO/about_dialog.ftl
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
  web/packages/core/texts/vi-VN/messages.ftl
Labels: A-i18n, T-chore

#21023 chore: Update translations
  desktop/assets/texts/sv-SE/file_picker.ftl
  desktop/assets/texts/sv-SE/filesystem_access_dialog.ftl
  desktop/assets/texts/sv-SE/network_access_dialog.ftl
  desktop/assets/texts/sv-SE/open_url_dialog.ftl
  desktop/assets/texts/sv-SE/preferences_dialog.ftl
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
  web/packages/core/texts/sv-SE/messages.ftl
  web/packages/extension/assets/_locales/sv/messages.json
Labels: A-i18n, T-chore

#21033 avm2: handle limit = 0 in String.split
  core/src/avm2/globals/string.rs
  core/src/avm2/regexp.rs
  tests/tests/swfs/from_avmplus/ecma3/String/esplit_003/test.toml
Labels: A-avm2, T-fix

#21002 avm2: fix coercion to function error for Vector.some and Array.some
  core/src/avm2/error.rs
  core/src/avm2/filters.rs
  core/src/avm2/globals/Array.as
  core/src/avm2/globals/VectorDouble.as
  core/src/avm2/globals/VectorInt.as
  core/src/avm2/globals/VectorObject.as
  core/src/avm2/globals/VectorUint.as
  core/src/avm2/globals/array.rs
  core/src/avm2/globals/vector.rs
  core/src/avm2/globals/vector_double.rs
  core/src/avm2/globals/vector_int.rs
  core/src/avm2/globals/vector_object.rs
  core/src/avm2/globals/vector_uint.rs
  core/src/avm2/value.rs
  tests/tests/swfs/from_avmplus/as3/Vector/some/test.toml
  tests/tests/swfs/from_avmplus/as3/Vector/some_initializers/test.toml
Labels: A-avm2, T-fix

#21047 pixelbender: Remove Result usage, minor code improvements
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  core/src/pixel_bender.rs
  render/Cargo.toml
  render/naga-pixelbender/src/lib.rs
  render/wgpu/Cargo.toml
  render/wgpu/src/pixel_bender.rs
Labels: A-rendering, pixelbender, T-refactor

#21049 avm2: Fix Array.some signature
  core/src/avm2/globals/Array.as
  core/src/avm2/globals/array.rs
  core/src/avm2/globals/vector.rs
Labels: A-avm2, T-compat

#21096 tests: Port recursion tests from avmplus
  tests/tests/swfs/from_avmplus/recursion/pcre_could_be_empty_branch/Test.as
  tests/tests/swfs/from_avmplus/recursion/pcre_could_be_empty_branch/config.xml
  tests/tests/swfs/from_avmplus/recursion/pcre_could_be_empty_branch/output.txt
  tests/tests/swfs/from_avmplus/recursion/pcre_could_be_empty_branch/test.swf
  tests/tests/swfs/from_avmplus/recursion/pcre_could_be_empty_branch/test.toml
  tests/tests/swfs/from_avmplus/recursion/pcre_find_firstassertedchar/Test.as
  tests/tests/swfs/from_avmplus/recursion/pcre_find_firstassertedchar/config.xml
  tests/tests/swfs/from_avmplus/recursion/pcre_find_firstassertedchar/output.txt
  tests/tests/swfs/from_avmplus/recursion/pcre_find_firstassertedchar/test.swf
  tests/tests/swfs/from_avmplus/recursion/pcre_find_firstassertedchar/test.toml
  tests/tests/swfs/from_avmplus/recursion/pcre_find_fixedlength/Test.as
  tests/tests/swfs/from_avmplus/recursion/pcre_find_fixedlength/config.xml
  tests/tests/swfs/from_avmplus/recursion/pcre_find_fixedlength/output.txt
  tests/tests/swfs/from_avmplus/recursion/pcre_find_fixedlength/test.swf
  tests/tests/swfs/from_avmplus/recursion/pcre_find_fixedlength/test.toml
  tests/tests/swfs/from_avmplus/recursion/pcre_is_anchored/Test.as
  tests/tests/swfs/from_avmplus/recursion/pcre_is_anchored/config.xml
  tests/tests/swfs/from_avmplus/recursion/pcre_is_anchored/output.txt
  tests/tests/swfs/from_avmplus/recursion/pcre_is_anchored/test.swf
  tests/tests/swfs/from_avmplus/recursion/pcre_is_anchored/test.toml
  tests/tests/swfs/from_avmplus/recursion/pcre_is_startline/Test.as
  tests/tests/swfs/from_avmplus/recursion/pcre_is_startline/config.xml
  tests/tests/swfs/from_avmplus/recursion/pcre_is_startline/output.txt
  tests/tests/swfs/from_avmplus/recursion/pcre_is_startline/test.swf
  tests/tests/swfs/from_avmplus/recursion/pcre_is_startline/test.toml
  tests/tests/swfs/from_avmplus/recursion/xml_functions/Test.as
  tests/tests/swfs/from_avmplus/recursion/xml_functions/config.xml
  tests/tests/swfs/from_avmplus/recursion/xml_functions/output.txt
  tests/tests/swfs/from_avmplus/recursion/xml_functions/test.swf
  tests/tests/swfs/from_avmplus/recursion/xml_functions/test.toml
Labels: A-tests, T-compat

#21037 avm2: improve String.match to pass tests
  core/src/avm2/globals/reg_exp.rs
  core/src/avm2/globals/string.rs
  core/src/avm2/regexp.rs
  tests/tests/swfs/from_avmplus/ecma3/String/ematch_002/test.toml
  tests/tests/swfs/from_avmplus/ecma3/String/ematch_004/test.toml
Labels: A-avm2, T-fix

#21118 avm2: Add IMEEvent class
  core/src/avm2/globals/flash/events/IMEEvent.as
  core/src/avm2/globals/globals.as
Labels: A-avm2, T-fix

#21088 tests: Port AS3 RegExp tests from avmplus
  tests/tests/swfs/from_avmplus/as3/RegExp/bug_513020/Test.as
  tests/tests/swfs/from_avmplus/as3/RegExp/bug_513020/config.xml
  tests/tests/swfs/from_avmplus/as3/RegExp/bug_513020/output.txt
  tests/tests/swfs/from_avmplus/as3/RegExp/bug_513020/test.swf
  tests/tests/swfs/from_avmplus/as3/RegExp/bug_513020/test.toml
  tests/tests/swfs/from_avmplus/as3/RegExp/eregress_122076/Test.as
  tests/tests/swfs/from_avmplus/as3/RegExp/eregress_122076/config.xml
  tests/tests/swfs/from_avmplus/as3/RegExp/eregress_122076/output.txt
  tests/tests/swfs/from_avmplus/as3/RegExp/eregress_122076/test.swf
  tests/tests/swfs/from_avmplus/as3/RegExp/eregress_122076/test.toml
  tests/tests/swfs/from_avmplus/as3/RegExp/replace/Test.as
  tests/tests/swfs/from_avmplus/as3/RegExp/replace/config.xml
  tests/tests/swfs/from_avmplus/as3/RegExp/replace/output.txt
  tests/tests/swfs/from_avmplus/as3/RegExp/replace/test.swf
  tests/tests/swfs/from_avmplus/as3/RegExp/replace/test.toml
Labels: A-tests, T-compat

#21082 avm2: Make Date.prototype an instance of Date
  core/src/avm2/globals/Date.as
  core/src/avm2/globals/date.rs
  core/src/avm2/object/date_object.rs
  tests/tests/swfs/from_avmplus/ecma3/Exceptions/date_001_rt/test.toml
  tests/tests/swfs/from_avmplus/ecma3/Exceptions/date_002_rt/test.toml
  tests/tests/swfs/from_avmplus/ecma3/Exceptions/date_003_rt/test.toml
  tests/tests/swfs/from_avmplus/ecma3/Exceptions/date_004_rt/test.toml
Labels: A-avm2, T-fix
