Repository ruffle-rs/ruffle, pull requests merged in 2025-01, with the labels that each got.

#19093 Removed "rust" as a keyword in the .desktop
  desktop/packages/linux/rs.ruffle.Ruffle.desktop.in
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml.in
Labels: A-desktop, T-refactor

#19126 chore: Update translations
  core/assets/texts/ar-SA/context_menu.ftl
  desktop/assets/texts/ar-SA/bookmarks_dialog.ftl
  desktop/assets/texts/ar-SA/common.ftl
  desktop/assets/texts/ar-SA/filesystem_access_dialog.ftl
  desktop/assets/texts/ar-SA/main_menu.ftl
  desktop/packages/linux/rs.ruffle.Ruffle.desktop
  desktop/packages/linux/rs.ruffle.Ruffle.metainfo.xml
Labels: A-i18n, T-chore

#19132 desktop: Use async dialogs when saving files
  desktop/src/gui.rs
Labels: A-desktop, T-fix

#19138 core: Handle font fallback for more known monospace fonts
  core/src/html/layout.rs
Labels: text, A-core, T-fix

#19147 extension: Fix types which are changed in latest @types/chrome
  web/packages/extension/src/background.ts
Labels: A-web, extension, T-chore

#19161 chore: Apply fixes for beta `clippy::precedence` lint
  core/src/bitmap/operations.rs
  flv/src/tag.rs
  render/src/pixel_bender.rs
  swf/src/write.rs
  video/software/src/decoder/screen.rs
Labels: A-other, T-chore

#18399 Revert "ci: Freeze rustc for nightly web builds to 1.81.0"
  .github/workflows/release_nightly.yml
Labels: A-build, T-chore

#19076 chore: Fix a nightly `clippy::unnecessary_map_or` lint
  core/src/avm2/e4x.rs
Labels: A-core, T-chore

#18838 web: Improve error when WASM extensions are unsupported but only the module which uses them is available
  web/packages/core/src/internal/player/inner.tsx
  web/packages/core/src/internal/ui/panic.tsx
Labels: A-web, T-fix

#19134 desktop: Use async IO for file browsing in AVM
  desktop/Cargo.toml
  desktop/src/backends/ui.rs
Labels: A-desktop, T-perf

#19026 debug_ui: Add horizontal & vertical scroll to EditText
  core/src/debug_ui/display_object.rs
Labels: text, A-desktop, waiting-on-review, T-feature

#19190 chore: Update translations
  desktop/assets/texts/zh-CN/settings.ftl
  web/packages/core/texts/cs-CZ/messages.ftl
  web/packages/core/texts/es-ES/messages.ftl
  web/packages/core/texts/fr-FR/messages.ftl
  web/packages/core/texts/sk-SK/messages.ftl
  web/packages/core/texts/zh-CN/messages.ftl
  web/packages/extension/assets/_locales/es/messages.json
Labels: A-i18n, T-chore

#19194 chore: Bump wasm-bindgen, wasm-bindgen-futures, js-sys and web-sys
  .github/workflows/release_nightly.yml
  .github/workflows/test_extension_dockerfile.yml
  .github/workflows/test_web.yml
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
  web/Cargo.toml
  web/README.md
  web/docker/Dockerfile
Labels: A-deps, T-chore

#19207 chore: Update translations
  web/packages/core/texts/zh-TW/messages.ftl
Labels: A-i18n, T-chore

#19216 extension: Update declarativeNetRequest rules using the chrome namespace
  web/packages/extension/src/background.ts
Labels: A-web, extension, T-refactor

#19209 debug_ui: Show StyleSheet in EditText
  core/src/avm2/object/stylesheet_object.rs
  core/src/debug_ui/avm2.rs
  core/src/debug_ui/display_object.rs
Labels: A-desktop, T-feature

#19198 web: Don't unnecessarily duplicate the module for single WASM builds
  web/packages/core/src/internal/builder.ts
  web/packages/core/src/internal/player/inner.tsx
  web/packages/core/src/load-ruffle.ts
  web/packages/core/tools/build_wasm.ts
  web/packages/core/tools/set_version.ts
Labels: A-web, T-refactor

#19219 avm2: Fix URShift in optimizer and hasnext in interpreter when passed a negative index
  core/src/avm2/activation.rs
  core/src/avm2/object/proxy_object.rs
  core/src/avm2/optimize.rs
Labels: A-avm2, T-fix

#19229 web: Qualify the vanilla (MVP) WASM module with a name suffix
  .cargo/config.toml
  Cargo.toml
  web/packages/core/src/internal/builder.ts
  web/packages/core/src/internal/player/inner.tsx
  web/packages/core/src/load-ruffle.ts
  web/packages/core/tools/build_wasm.ts
  web/packages/core/tools/set_version.ts
Labels: A-web, T-refactor

#19241 chore: Run `cargo update` carefully
  Cargo.lock
Labels: A-deps, T-chore

#19240 chore: Run `npm update`
  web/package-lock.json
Labels: A-deps, T-chore

#19276 avm2: Add proper API versioning for FTE classes
  core/src/avm2/globals/flash/text/engine/BreakOpportunity.as
  core/src/avm2/globals/flash/text/engine/CFFHinting.as
  core/src/avm2/globals/flash/text/engine/ContentElement.as
  core/src/avm2/globals/flash/text/engine/DigitCase.as
  core/src/avm2/globals/flash/text/engine/DigitWidth.as
  core/src/avm2/globals/flash/text/engine/EastAsianJustifier.as
  core/src/avm2/globals/flash/text/engine/ElementFormat.as
  core/src/avm2/globals/flash/text/engine/FontDescription.as
  core/src/avm2/globals/flash/text/engine/FontLookup.as
  core/src/avm2/globals/flash/text/engine/FontMetrics.as
  core/src/avm2/globals/flash/text/engine/FontPosture.as
  core/src/avm2/globals/flash/text/engine/FontWeight.as
  core/src/avm2/globals/flash/text/engine/GraphicElement.as
  core/src/avm2/globals/flash/text/engine/GroupElement.as
  core/src/avm2/globals/flash/text/engine/JustificationStyle.as
  core/src/avm2/globals/flash/text/engine/Kerning.as
  core/src/avm2/globals/flash/text/engine/LigatureLevel.as
  core/src/avm2/globals/flash/text/engine/LineJustification.as
  core/src/avm2/globals/flash/text/engine/RenderingMode.as
  core/src/avm2/globals/flash/text/engine/SpaceJustifier.as
  core/src/avm2/globals/flash/text/engine/TabAlignment.as
  core/src/avm2/globals/flash/text/engine/TabStop.as
  core/src/avm2/globals/flash/text/engine/TextBaseline.as
  core/src/avm2/globals/flash/text/engine/TextBlock.as
  core/src/avm2/globals/flash/text/engine/TextElement.as
  core/src/avm2/globals/flash/text/engine/TextJustifier.as
  core/src/avm2/globals/flash/text/engine/TextLine.as
  core/src/avm2/globals/flash/text/engine/TextLineCreationResult.as
  core/src/avm2/globals/flash/text/engine/TextLineValidity.as
  core/src/avm2/globals/flash/text/engine/TextRotation.as
  core/src/avm2/globals/flash/text/engine/TypographicCase.as
Labels: A-avm2, tlf, T-compat

#19283 swf: Bump version to 0.2.2 for crates.io publish
  Cargo.lock
  swf/Cargo.toml
Labels: A-build, T-chore

#19308 desktop: Associate Ruffle window with Ruffle
  desktop/src/app.rs
Labels: A-desktop, linux, waiting-on-review, T-fix

#18083 web: Support gamepad button input
  core/src/events.rs
  desktop/src/cli.rs
  web/Cargo.toml
  web/eslint.config.js
  web/packages/core/src/internal/builder.ts
  web/packages/core/src/public/config/default.ts
  web/packages/core/src/public/config/load-options.ts
  web/src/builder.rs
  web/src/lib.rs
Labels: A-web, input, waiting-on-review, T-feature

#19336 debug_ui: Fix summary of objects without a name
  core/src/debug_ui/display_object.rs
Labels: A-desktop, waiting-on-review, T-fix

#19252 chore: Address nightly clippy lints `double_ended_iterator_last` and `len_zero`
  core/src/avm1/globals/file_reference.rs
  core/src/avm1/globals/shared_object.rs
  core/src/avm2/globals/flash/net/shared_object.rs
  core/src/avm2/globals/xml_list.rs
  core/src/debug_ui/movie.rs
  core/src/html/layout.rs
  core/src/html/text_format.rs
  frontend-utils/src/lib.rs
Labels: T-refactor, T-chore

#19251 chore: Bump h263-rs git ref to latest master
  Cargo.lock
  render/Cargo.toml
  video/software/Cargo.toml
Labels: A-deps, waiting-on-review, T-chore

#19349 desktop: Set LoadingState to Loaded even when window is maximized
  desktop/src/app.rs
Labels: A-desktop, T-fix

#19369 avm2: Avoid wildcard in op dispatch
  core/src/avm2/activation.rs
Labels: A-avm2, T-perf

#19329 avm2: Replace complex ops with simpler ops
  core/src/avm2/activation.rs
  core/src/avm2/op.rs
  core/src/avm2/optimize.rs
  core/src/avm2/verify.rs
Labels: A-avm2, T-refactor

#19380 github: Remove default title for error reports
  .github/ISSUE_TEMPLATE/error_report.md
Labels: A-other, T-fix
