Repository ruffle-rs/ruffle, pull requests merged in 2025-04, with the labels that each got.

#19986 chore: Update translations
  desktop/assets/texts/ja-JP/preferences_dialog.ftl
  web/packages/core/texts/ja-JP/messages.ftl
Labels: A-i18n, T-chore

#19996 avm2: Stub globals.flash.globalization.Collator
  core/src/avm2/globals/flash/globalization/Collator.as
  core/src/avm2/globals/globals.as
Labels: A-avm2, T-compat

#19594 avm1: Do not panic when swapping children on depth/render list desync
  core/src/display_object/container.rs
Labels: A-avm1, waiting-on-review, newsworthy, T-fix

#20029 avm2: Stub `flash.globalization.CurrencyFormatter`
  core/src/avm2/globals/flash/globalization/CurrencyFormatter.as
Labels: A-avm2, T-compat

#20030 avm2: Reformat & add API versioning to `flash.globalization` classes
  core/src/avm2/globals/flash/globalization/CollatorMode.as
  core/src/avm2/globals/flash/globalization/CurrencyParseResult.as
  core/src/avm2/globals/flash/globalization/DateTimeFormatter.as
  core/src/avm2/globals/flash/globalization/DateTimeNameContext.as
  core/src/avm2/globals/flash/globalization/DateTimeNameStyle.as
  core/src/avm2/globals/flash/globalization/DateTimeStyle.as
  core/src/avm2/globals/flash/globalization/LastOperationStatus.as
  core/src/avm2/globals/flash/globalization/NationalDigitsType.as
  core/src/avm2/globals/flash/globalization/NumberFormatter.as
  core/src/avm2/globals/flash/globalization/NumberParseResult.as
Labels: A-avm2, T-compat

#20048 web: Bump webpack to 5.99.5
  web/package-lock.json
  web/package.json
  web/packages/selfhosted/package.json
Labels: A-web, T-chore

#19977 web: Check if custom Map is defined as fluent loop is iterating
  web/packages/core/src/internal/i18n.ts
Labels: A-web, T-compat

#20059 ci: Build dual-wasm for selfhosted/demo/docs
  .github/workflows/release_nightly.yml
Labels: A-build, github_actions, T-fix

#20057 chore: Update translations
  desktop/assets/texts/he-IL/preferences_dialog.ftl
  desktop/assets/texts/vi-VN/preferences_dialog.ftl
  desktop/assets/texts/zh-TW/preferences_dialog.ftl
  web/packages/core/texts/he-IL/messages.ftl
  web/packages/core/texts/vi-VN/messages.ftl
  web/packages/core/texts/zh-TW/messages.ftl
  web/packages/extension/assets/_locales/zh_TW/messages.json
Labels: A-i18n, T-chore

#20065 debug_ui: Put frame list inside egui_extras::Table
  core/src/debug_ui/display_object.rs
Labels: A-desktop, T-feature

#20158 ci: Use josStorer instead of 1466587594
  .github/workflows/release_nightly.yml
Labels: A-build, T-chore

#20185 web: Replace deprecated `String.substr` with `String.substring`
  web/packages/core/tools/set_version.ts
Labels: A-web, T-chore

#20170 desktop: Remove unused `nightly` cfg
  desktop/build.rs
Labels: A-build, T-refactor

#20187 avm1: Add missing constant `System.IME.JAPANESE_KATAKANA_HALF`
  core/src/avm1/globals/system_ime.rs
Labels: A-avm1, T-compat

#20186 chore: Fix some typos in core and render
  core/src/avm1/globals/system_ime.rs
  core/src/avm2/globals/String.as
  core/src/avm2/globals/flash/display/BitmapData.as
  core/src/avm2/optimizer/blocks.rs
  core/src/avm2/verify.rs
  core/src/backend/audio/decoders.rs
  core/src/display_object/bitmap.rs
  core/src/input.rs
  render/wgpu/src/pixel_bender.rs
Labels: A-other, T-chore

#20084 web: Migrate WASM initialization to use module_or_path parameter
  web/packages/core/src/load-ruffle.ts
Labels: A-web, T-fix

#17054 ci: Fold Firefox extension submission back into the regular nightly release workflow
  .github/workflows/release_amo.yml
  .github/workflows/release_nightly.yml
Labels: A-build, waiting-on-review, T-refactor

#20173 build: Set a different channel for local builds
  .github/workflows/release_nightly.yml
  desktop/build.rs
  web/packages/core/tools/set_version.ts
  web/packages/extension/webpack.config.js
  web/packages/selfhosted/webpack.config.js
Labels: A-build, waiting-on-review, T-refactor

#20249 avm1: fix incorrect XML event handler context in SWFv5 (close #20241)
  core/src/avm1/globals/xml.rs
  core/src/avm1/globals/xml_socket.rs
  tests/tests/swfs/avm1/swf5_xml_event_handler_context/child.fla
  tests/tests/swfs/avm1/swf5_xml_event_handler_context/child.swf
  tests/tests/swfs/avm1/swf5_xml_event_handler_context/output.txt
  tests/tests/swfs/avm1/swf5_xml_event_handler_context/test.fla
  tests/tests/swfs/avm1/swf5_xml_event_handler_context/test.swf
  tests/tests/swfs/avm1/swf5_xml_event_handler_context/test.toml
  tests/tests/swfs/avm1/swf5_xml_event_handler_context/test.xml
Labels: A-avm1, T-fix

#20256 web: Include channel in version name if not stable
  web/packages/core/tools/set_version.ts
  web/packages/extension/webpack.config.js
Labels: A-web, extension, T-feature

#20251 avm2: fix string.match not setting last_index to 0
  core/src/avm2/globals/string.rs
  tests/tests/swfs/avm2/string_match/output.txt
  tests/tests/swfs/avm2/string_match/test.as
  tests/tests/swfs/avm2/string_match/test.swf
  tests/tests/swfs/from_avmplus/ecma3/String/ematch_001/test.toml
Labels: A-avm2, T-fix

#20242 avm2: fix Loader behaviour when body is empty
  core/src/avm2/globals/flash/display/loader.rs
  core/src/backend/navigator.rs
  tests/tests/swfs/avm2/loader_method/Test.as
  tests/tests/swfs/avm2/loader_method/output.txt
  tests/tests/swfs/avm2/loader_method/test.fla
  tests/tests/swfs/avm2/loader_method/test.swf
  tests/tests/swfs/avm2/loader_method/test.toml
Labels: A-avm2, newsworthy, T-fix

#20210 desktop: more fallback cjk fonts for Linux
  desktop/src/gui/controller.rs
Labels: A-desktop, T-compat

#20263 desktop: Fix missing characters in UI
  desktop/src/gui/controller.rs
Labels: A-desktop, newsworthy, T-fix

#20255 extension: Stop injecting scripts on any browser except Firefox 127 and below
  web/packages/extension/src/background.ts
  web/packages/extension/src/content.ts
  web/packages/extension/src/ruffle.ts
  web/packages/extension/webpack.config.js
Labels: A-web, extension, newsworthy, T-refactor

#20283 core: Put some Stage properties in a Cell
  core/src/avm1/activation.rs
  core/src/avm1/globals/stage.rs
  core/src/avm1/object/stage_object.rs
  core/src/avm2/globals/flash/display/stage.rs
  core/src/context.rs
  core/src/debug_ui/display_object.rs
  core/src/display_object/movie_clip.rs
  core/src/display_object/stage.rs
  core/src/player.rs
Labels: A-core, T-refactor

#20288 core: Replace GcCell with Gc in Text
  core/src/display_object/text.rs
Labels: A-core, T-refactor

#20290 core: Replace GcCell with Gc in Graphic
  core/src/display_object/graphic.rs
Labels: A-core, T-refactor

#20294 nit: Be consistent with tracing macro usage in webcodecs.rs
  video/external/src/decoder/webcodecs.rs
Labels: A-video, T-refactor

#20299 video: Also invalidate bitmap cache after decoding AVC (H.264) video frames
  core/src/streams.rs
Labels: A-video, T-fix

#20298 web/extension: nit: "Wgpu" -> "wgpu"
  web/packages/extension/assets/options.html
Labels: A-web, T-refactor

#20199 chore: Update translations
  desktop/assets/texts/id-ID/common.ftl
  desktop/assets/texts/tr-TR/message_dialogs.ftl
  desktop/assets/texts/tr-TR/preferences_dialog.ftl
  web/packages/core/texts/tr-TR/messages.ftl
Labels: A-i18n, T-chore

#20296 video/openh264: Clean up comments a bit, also assert on number of SPSs
  video/external/src/decoder/openh264.rs
Labels: A-video, T-refactor

#20297 web/extension: Also add "debug" and "trace" log levels as options
  web/packages/extension/assets/_locales/en/messages.json
  web/packages/extension/assets/options.html
Labels: A-web, T-refactor

#20306 chore: Update translations
  desktop/assets/texts/pl-PL/main_menu.ftl
Labels: A-i18n, T-chore
